<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" href="__PUBLIC__/layui/css/layui.css">

	<script src="__PUBLIC__/layui/layui.js"></script>
	<title>Document</title>
</head>
<body>
	{include file="public/left" /}

	<div class="right">
		<h1>代充撤回</h1>
		<hr>
		<div style="margin:40px 0 0 0;">
			<form class="layui-form" id="agentform">
				<div class="layui-form-item" >
					<span style="color:red;">*说明：可撤回时间为5分钟，不支持卡密充值撤回，如有需要请联系管理员。</span>
			    </div>
				<div class="layui-form-item" >
				    <label class="layui-form-label" >用户UID</label>
				    <div class="layui-input-inline" style="width: 300px;">
				      <input type="text" name="uid" id="uid" autocomplete="off" class="layui-input">
				    </div>
                    

				    <!-- input type="hidden" name="act" value="post">
                    <input type="hidden" name="sub" value="recharge">
                    <input type="hidden" name="uid" value="">

                    <input name="safecode" style="display:none" type="text" value=""/> -->
		            <div class="layui-form-mid layui-word-aux">
                        <a id="queryuser" href="javascript:;">查询用户</a>
                    </div>
		        </div>

		        <div id="userinfo"  style="display: none;">
					  <div class="layui-form-item">
					    <label class="layui-form-label">用户UID</label>
					    <div class="layui-input-block">
					      <input type="text" id="userid" disabled  class="layui-input">
					    </div>
					  </div>

					  <div class="layui-form-item">
					    <label class="layui-form-label">最后代充金额</label>
					    <div class="layui-input-block">
					      <input type="text" id="money" disabled class="layui-input">
					    </div>
					  </div>

					  <div class="layui-form-item">
					    <label class="layui-form-label">最后代充时间</label>
					    <div class="layui-input-block">
					      <input type="text" id="time" disabled class="layui-input">
					    </div>
					  </div>

					  <div class="layui-form-item">
					    <label class="layui-form-label">可撤回</label>
					    <div class="layui-input-block">
					      <input type="text" id="revoke" disabled  autocomplete="off" class="layui-input">
					    </div>
					  </div>
				
					<div class="layui-form-item">
						<label class="layui-form-label"></label>
					    <div class="layui-input-block">
							<button class="layui-btn layui-btn-primary" lay-submit lay-filter="revoke">撤回</button>
						</div>
					</div>
	        </form>
        </div>
        


	</div>
</body>
<script type="text/javascript">
	layui.use(['form','jquery'], function(){
	    var form=layui.form,$=layui.jquery;
        
        $('#queryuser').click(function(){
        	var uid=$.trim($('#uid').val());

        	$.ajax({
                url:"{:url('agent/other/queryuser')}",
                data:{uid:uid},
                type:'post',
                dataType:'json',
                success:function(res) {
                	// console.log(res)
                    if(res.code == 1) {
                        $('#userinfo').css('display','block');
                        $('#userid').val(res.uid);
                        $('#money').val(res.money);
                        $('#time').val(res.time);
                        $('#revoke').val(res.revoke);
                    } else {
                    	$('#userinfo').css('display','none');
                        layer.msg(res.msg);
                    }
                }
            })
        })

                    
       


        form.on('submit(revoke)',function(){
        	var uid=$('#uid').val();
        	if(!uid){
        		layer.msg("请输入用户UID");
        		return false;
        	}
        	
        	
        		
      	    $.ajax({
                url:"{:url('agent/other/cancel')}",
                data:{uid:uid},
                type:'post',
                async: false,
                dataType:'json',
                success:function(res) {
                    if(res.code == 1) {
                        layer.alert(res.msg, function(index){
	                       location.href = res.url;
	                    })
                    } else {
                        layer.msg(res.msg);
                    }
                }
            })
	        
            return false;
        })

	});
</script>
</html>