<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" href="__PUBLIC__/layui/css/layui.css">
	<!-- <link rel="stylesheet" href="__AGENT__/css/common.css">
	<link rel="stylesheet" href="__AGENT__/css/main.css"> -->
	<script src="__PUBLIC__/layui/layui.js"></script>
	<title>资金互转</title>
</head>
<body>
	{include file="public/left" /}

	<div class="right">
		<h1>资金互转</h1>
		<hr>

		<form class="layui-form" id="agentform">
			
			<div class="layui-form-item">
			    <label class="layui-form-label">代理ID：</label>
			    <div class="layui-input-inline">
			      <input type="text" name="uid" id="agent_id" required  lay-verify="required|number" placeholder="请输入UID" autocomplete="off" class="layui-input">
			    </div>
			    <div class="layui-form-mid layui-word-aux"><a href="javascript:;" id="query">查询</a></div>
			</div>

			<div class="layui-form-item">
			    <label class="layui-form-label">代理名称：</label>
			    <div class="layui-input-inline">
			      <input type="text" name="agent_name" id="agent_name" disabled   autocomplete="off" class="layui-input">
			    </div>
			</div>

			<div class="layui-form-item">
			    <label class="layui-form-label" >最多可转金额(元)：</label>
			    <div class="layui-input-inline">
			      <input type="text" name="maximum_money" id="maximum_money" {notempty name="$agent['balance']"} value="{$agent['balance']-$agent['advance']}"{/notempty} disabled autocomplete="off" class="layui-input">
			    </div>
			</div>

			<div class="layui-form-item">
			    <label class="layui-form-label">转账金额(元)：</label>
			    <div class="layui-input-inline">
			      <input type="text" name="transfer_money" id="transfer_money" required  lay-verify="required|number" placeholder="请输入" autocomplete="off" class="layui-input">
			    </div>
			</div>

			<div class="layui-form-item">
			    <div class="layui-input-block">
			      <button class="layui-btn layui-btn-primary" lay-submit lay-filter="transfer">确认转账</button>
			    </div>
			</div>
			<!-- <input type="hidden" name="cxinfo" value="cx">
			<input type="hidden" name="act" value="post"> -->
        </form>

	</div>
</body>
<script>
    layui.use(['layer', 'form'], function() {
        var layer = layui.layer,
        $ = layui.jquery,
        form = layui.form,
        laydate = layui.laydate;

        $('#query').click(function(){
        	var id=$.trim($('#agent_id').val());

	        $.ajax({
	          // url:"{:url('agent/other/transfer')}",
	          url:'/agent/other/transfer',
	          data:{agent_id:id,action:'query'},
	          type:'post',
	          dataType:'json',
	          success:function(res) {
	          	console.log(res)
	            
	            if(res.code == 1) {
                    $('#agent_name').val(res.name);
                    // $('#maximum_money').val(res.balance-res.advance);
	              // setTimeout(function(){
	              //   location.href = res.url;
	              // },1500)
	            }else{
	            	$('#agent_name').val('');
                    // $('#maximum_money').val('');
	            	layer.msg(res.msg);
	            }
	          }
	        })
        })


        form.on('submit(transfer)',function(){
            var id=$.trim($('#agent_id').val());
            var transfer_money=parseFloat($('#transfer_money').val());
            // var maximum_money=parseFloat($('#maximum_money').val());
            // console.log(transfer_money);
            // console.log(maximum_money);
            if(transfer_money>maximum_money){
            	layer.msg('转账金额超出最大限额！');
            	return false;
            }

            
            $.ajax({
	          // url:"{:url('agent/other/transfer')}",
	          url:'/agent/other/transfer',
	          data:{action:'transfer',agent_id:id,transfer_money:transfer_money},
	          type:'post',
	          dataType:'json',
	          success:function(res) {
	          	console.log(res)
	            layer.msg(res.msg);
	            if(res.code == 1) {
                   
	              setTimeout(function(){
	                location.href = res.url;
	              },1500)
	            }
	          }
	        })

            return false;
        })

    });
</script>
</html>