<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>layui</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="__PUBLIC__/layui/css/layui.css"  media="all">
  <link rel="stylesheet" href="__PUBLIC__/font-awesome/css/font-awesome.min.css" media="all" />
  <link rel="stylesheet" href="__CSS__/admin.css"  media="all">
  <style type="text/css">
    /* tooltip */
    #tooltip{position:absolute; border:1px solid #ccc; background:#333; padding:2px; display:none; color:#fff; } 
    .bg_on {background-color: #ECEFF4; } 
  </style>
</head>
<body style="padding:10px;">
  <div class="tplay-body-div">
    <div class="layui-tab">
      <ul class="layui-tab-title">
        <li class="layui-this">抽奖设置</li>
        <li><a href="{:url('admin/smashegg/publish')}" class="a_menu">编辑/新增</a></li>
      </ul>
    </div> 
     
    <table class="layui-table" lay-size="sm">
      <colgroup>
        <col width="50">
        <col width="50">
        <col width="300">
        <col width="200">
        <col width="200">
        <col width="200">
        <col width="200">
        <col width="200">
        <col width="100">
      </colgroup>
      <thead>
        <tr>
          <th><input type="checkbox" id="checkbox_handle"  value="0"></th>
          <th>ID</th>
          <th>奖品名称</th>
          <th>金币</th>
          <th>概率</th>
          <th>最大角度</th>
          <th>最小角度</th>
          <th>排序</th>
          <th>操作</th>
        </tr> 
      </thead>
      <tbody>
        {volist name="list" id="vo"}
        <tr>
          <td><input type="checkbox" name="checkbox"   value="{$vo.id}"></td>
           <td>{$vo.id}</td>
           <td>{$vo.name}</td>
           <td>{$vo.money}</td>
           <td>{$vo.odd}</td>
           <td>{$vo.max}</td>
           <td>{$vo.min}</td>
           <td>{$vo.sort}</td>
          <td class="operation-menu">
            <div class="layui-btn-group">
              <a href="{:url('admin/drawlottery/publish',['id'=>$vo.id])}" class="layui-btn layui-btn-xs a_menu layui-btn-primary" style="margin-right: 0;font-size:12px;"><i class="layui-icon"></i></a>
              <a href="javascript:;" class="layui-btn layui-btn-xs layui-btn-primary delete" id="{$vo.id}" style="margin-right: 0;font-size:12px;"><i class="layui-icon"></i></a>
            </div>
          </td>
        </tr>
        {/volist}
      </tbody>
    </table>
    <div>{$list->render();}</div>
    <hr style="margin:30px 0;">
    <form class="layui-form" id="admin">
      
      <div class="layui-form-item">
        <label class="layui-form-label">充值多少金币得一次抽奖机会</label>
        <div class="layui-input-block" style="max-width:600px;">
          <input name="draw_lottery"  autocomplete="off" required  lay-verify="required|number" placeholder="请输入" class="layui-input" type="text" {notempty name="$draw_lottery"}value="{$draw_lottery}"{else /}value="0"{/notempty}>
        </div>
      </div>
      <div class="layui-form-item">
        <div class="layui-input-block">
          <button class="layui-btn" lay-submit lay-filter="admin">保存</button>
        </div>
      </div>
      
    </form>
    {include file="public/foot"}
    <script type="text/javascript">
    layui.use(['layer', 'form'], function() {
        var layer = layui.layer,form = layui.form;
        $(window).on('load', function() {
            form.on('submit(admin)', function(data) {
                $.ajax({
                    url:"{:url('admin/drawlottery/index')}",
                    data:$('#admin').serialize(),
                    type:'post',
                    async: false,
                    success:function(res) {
                        console.log(res);
                        // if(res.code == 1) {
                        //     layer.alert(res.msg, function(index){
                        //       location.href = res.url;
                        //     })
                        // } else {
                            layer.msg(res.msg);
                        // }
                    }
                })
                return false;
            });
        });
    });

    $('.delete').click(function(){
      var id = $(this).attr('id');
      layer.confirm('确定要删除?', function(index) {
        $.ajax({
          url:"{:url('admin/drawlottery/delete')}",
          data:{id:id},
          success:function(res) {
            layer.msg(res.msg);
            if(res.code == 1) {
              setTimeout(function(){
                location.href = res.url;
              },1500)
            }
          }
        })
      })
    })



    $('#checkbox_handle').click(function(){
        if( $(this).prop('checked') == true ){
          $('input[name="checkbox"]').prop('checked',true);
          $('tr').addClass("bg_on");
        }else{
          $('input[name="checkbox"]').prop('checked',false);
          $('tr').removeClass("bg_on");
        }
    })
      
    
    </script>
  </div>
</body>
</html>
