<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>抽奖设置</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="__PUBLIC__/layui/css/layui.css"  media="all">
  <link rel="stylesheet" href="__PUBLIC__/font-awesome/css/font-awesome.min.css" media="all" />
  <link rel="stylesheet" href="__CSS__/admin.css"  media="all">
</head>
<body style="padding:10px;">
  <div class="tplay-body-div">
    <div class="layui-tab">
      <ul class="layui-tab-title">
        <li><a href="{:url('admin/smashegg/index')}" class="a_menu">砸抽奖设置</a></li>
        <li class="layui-this">新增/编辑</li>
      </ul>
    </div> 
    <div style="margin-top: 20px;">
    </div>
    <form class="layui-form" id="admin">
      
      <div class="layui-form-item">
        <label class="layui-form-label">奖品名称</label>
        <div class="layui-input-block" style="max-width:600px;">
          <input name="name"  autocomplete="off" required  lay-verify="required" placeholder="请输入奖品名称" class="layui-input" type="text" {notempty name="$drawlottery.name"}value="{$drawlottery.name}"{/notempty}>
        </div>
      </div>

      <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">金币</label>
        <div class="layui-input-block" style="max-width:1000px;">
          <input name="money"  autocomplete="off" placeholder="请输入金币" required  lay-verify="required|number" class="layui-input" type="text" {notempty name="$drawlottery.money"}value="{$drawlottery.money}"{else /}value="0"{/notempty}>
        </div>
      </div>

      <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">概率</label>
        <div class="layui-input-block" style="max-width:1000px;">
          <input name="odd"  autocomplete="off" placeholder="请输入概率" required  lay-verify="required|number" class="layui-input" type="text" {notempty name="$drawlottery.odd"}value="{$drawlottery.odd}"{else /}value="0"{/notempty}>
        </div>
      </div>

      <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">最大角度</label>
        <div class="layui-input-block" style="max-width:1000px;">
          <input name="max"  autocomplete="off" placeholder="请输入,不超过360" required  lay-verify="required|number" class="layui-input" type="text" {notempty name="$drawlottery.max"}value="{$drawlottery.max}"{/notempty}>
        </div>
      </div>

      <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">最小角度</label>
        <div class="layui-input-block" style="max-width:1000px;">
          <input name="min"  autocomplete="off" placeholder="请输入，不超过360" required  lay-verify="required|number" class="layui-input" type="text" {notempty name="$drawlottery.min"}value="{$drawlottery.min}"{/notempty}>
        </div>
      </div>

      <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">排序</label>
        <div class="layui-input-block" style="max-width:1000px;">
          <input name="sort"  autocomplete="off" placeholder="请输入" required  lay-verify="required|number" class="layui-input" type="text" {notempty name="$drawlottery.sort"}value="{$drawlottery.sort}"{else /}value="0"{/notempty}>
        </div>
      </div>
  
     
      {notempty name="$drawlottery"}
      <input type="hidden" name="id" value="{$drawlottery.id}">
      {/notempty}
      <div class="layui-form-item">
        <div class="layui-input-block">
          <button class="layui-btn" lay-submit lay-filter="admin">立即提交</button>
        </div>
      </div>
      
    </form>


    <script src="__PUBLIC__/layui/layui.js"></script>
    <script src="__PUBLIC__/jquery/jquery.min.js"></script>

    <script>
      layui.use(['layer', 'form'], function() {
          var layer = layui.layer,
              $ = layui.jquery,
              form = layui.form;
          $(window).on('load', function() {
              form.on('submit(admin)', function(data) {
                  $.ajax({
                      url:"{:url('admin/drawlottery/publish')}",
                      data:$('#admin').serialize(),
                      type:'post',
                      async: false,
                      success:function(res) {
                          console.log(res);
                          if(res.code == 1) {
                              layer.alert(res.msg, function(index){
                                location.href = res.url;
                              })
                          } else {
                              layer.msg(res.msg);
                          }
                      }
                  })
                  return false;
              });
          });
      });
    </script>
  </div>
</body>
</html>