{include file="public/header" /}

<link href="__CSS__/game.css" rel="stylesheet" type="text/css" />
<div  class="game-wrap page-width">

	{include file="game/header" /}
    <div class="game-header after">
        <a href="/game/index?gid={$gid}" >{$game.name}首页</a><a href="/game/intro?gid={$gid}" class="">游戏规则</a><a href="/game/record?gid={$gid}" class="">投注记录</a><a href="/game/mode?gid={$gid}" class="">编辑模式</a><a href="/game/auto?gid={$gid}" class="hover">自动投注</a><a href="/game/chart?gid={$gid}" class="">走势图</a><a href="/game/total?gid={$gid}" class="">盈利统计</a>        </div>
    <div class="bet-auto">
        <table>
           <!--  <tr>
                <td colspan="4">
                    <label>开始模式：</label>
                    <select id="startMode" >
                                                </select>
                    <label>开始期号：</label>
                    <input type="text" id="startNo"  value="2416605" onkeyup="this.value=this.value.replace(/\D/g,'')">
                    <label>期数：</label>
                    <input type="text" id="times"  value="3000" onkeyup="this.value=this.value.replace(/\D/g,'')">
                    <label>金币上限：</label>
                    <input type="text" id="maxG"  value="999999999" onkeyup="this.value=this.value.replace(/\D/g,'')">
                    <label>下限：</label>
                    <input type="text" id="minG"  value="100" onkeyup="this.value=this.value.replace(/\D/g,'')">
                    <input type="hidden" id="conveID" value="3430">
                </td>
            </tr> -->
            <tr>
                <th>投注模式</th>
                <th>投注金币</th>
                <th>开始期号</th>
                <th>期数</th>
                <th>金币上限</th>
                <th>金币下限</th>
            </tr>
            <tr>
                <td>
                    <select id="startMode" role="changemodel" {if condition="$mode_id gt 0"}disabled{/if}>
                        {volist name="modes" id="vo"}
                           <option data-id="{$vo.id}" value="{$vo.bidinfo|json_decode=###,true|array_sum}"  {if condition="$mode_id eq $vo.id"}selected {/if}>{$vo.name}</option>
                        {/volist} 
                    </select>
                </td>
                <td id="bidmoney">{$bidmoney}</td>
                <td><input type="text" id="startNo"  {if condition="$userautomode.start_game_no gt 0"}value="{$userautomode.start_game_no}" disabled {elseif condition="$id gt 0"/}value="{$id}"{else /}value="2416605"{/if} onkeyup="this.value=this.value.replace(/\D/g,'')"></td>
                <td><input type="text" id="times"  {if condition="$userautomode.span gt 0"}value="{$userautomode.span}" disabled {else /}value="3000"{/if} onkeyup="this.value=this.value.replace(/\D/g,'')"></td>
                <td><input type="text" id="maxG"  {if condition="$userautomode.upper gt 0"}value="{$userautomode.upper}" disabled {else /}value="999999999"{/if} onkeyup="this.value=this.value.replace(/\D/g,'')"></td>
                <td><input type="text" id="minG"  {if condition="$userautomode.lower gt 0"}value="{$userautomode.lower}" disabled {else /}value="100"{/if} onkeyup="this.value=this.value.replace(/\D/g,'')"></td>
            </tr>
            <tr>
                <td colspan="6">
                    {if condition="$userautomode.id gt 0"}
                    <button type="button" class="btn" id="auto-submit" data-action="cancel">取消自动投注</button>
                    {else /}
                    <button type="button" class="btn" id="auto-submit" data-action="save">确定提交</button>
                    {/if}
                </td>
            </tr>
        </table>
        <div class="tip">
            <p>设置方法：</p>
            <p>1．选择自动投注的模式.</p>
            <p>2．设置“开始期号”与“期数”.</p>
            <p>3．设置“金币上限”与“下限”限制,帐号内金币数达到限制数量后,自助投注自动停止.</p>
            <p>4．确认并开始自动投注后，系统将会在您指定的期数内帮您自动投注，不论你离线或在线都会持续运行,直到期数终止或您关闭为止.</p>
            <p>5．银行内的金币不能用于投注.</p>
        </div>
    </div>

</div>

<script type="text/javascript">
    (function(root){
        root.GID = {$gid};
    })(this)
</script>
<script type="text/javascript" src="__JS__/auto.js"></script>
 {include file="public/footer" /}
