<!-- <div class="bet-mode">
    <div class="my-mode">
        <label>我的投注模式：</label>
        <a href="/games/mode?gid=6">[编辑模式]</a>
    </div>    -->                     
    <div class="group d">
        <a role="chgAllTimes" data-m="0.1">0.1倍</a>
        <a role="chgAllTimes" data-m="0.5">0.5倍</a>
        <a role="chgAllTimes" data-m="0.8">0.8倍</a>
        <a role="chgAllTimes" data-m="1.2">1.2倍</a>
        <a role="chgAllTimes" data-m="1.5">1.5倍</a>
        <a role="chgAllTimes" data-m="2">2倍</a>
        <a role="chgAllTimes" data-m="5">5倍</a>
        <a role="chgAllTimes" data-m="10">10倍</a>
        <a role="chgAllTimes" data-m="50">50倍</a>
        <a role="chgAllTimes" data-m="100">100倍</a>
    </div>
</div>
<div class="bet-btn after">
    <div class="power">
        <img src="__IMAGE__/chips_10000.png" onclick="chips(10000, 1)">
        <img src="__IMAGE__/chips_100000.png" onclick="chips(100000, 2)">
        <img src="__IMAGE__/chips_500000.png" onclick="chips(500000, 3)">
        <img src="__IMAGE__/chips_1000000.png" onclick="chips(1000000, 4)">
        <img src="__IMAGE__/chips_5000000.png" onclick="chips(5000000, 5)">
    </div>
    <div class="desh">
        <input id="betsLeft" type="text" onkeyup="this.value=this.value.replace(/\D/g,'')">
        <button class="btn" type="button" id="usefenpei">定额梭哈</button>
    </div>
    <div class="btns">
        <button class="btn" type="button" id="init">清除</button>
        <button class="btn" type="button" role="userModel" data-m="0">全包</button>
        <button class="btn" type="button" id="subSelect">反选</button>
        <button class="btn" type="button" id="useSuoha">梭哈</button>
        <button class="btn" type="button" id="prevBetting">上次投注</button>
    </div>
    <div class="total">
        <label>总投注：</label>
        <i id="bet-total">{notempty name="$bidmoney"}{$bidmoney}{else /}0{/notempty}</i>
        {if condition="$action eq 'bet'"}
        <button class="btn" type="button" id="bet-submit">确认投注</button>
        {elseif condition="$action eq 'mode'"}
        <button class="btn" type="button" id="mode-submit">保存</button>
        {/if}
    </div>
</div>
<div class="bet-nos after">
    <table class="l">
        <thead>
            <tr>
                <th width="10%">号码</th>
                <th width="16%">赔率</th>
                <!-- <th width="19%">已投注</th> -->
                <th width="10%">选择</th>
                <th width="21%">投注</th>
                <th width="24%">倍数</th>
            </tr>
        </thead>
        <tbody>
            {volist name="items_left" id="vo" key="k"}
            <!-- <?php if($vo[0]==1)  continue;  ?> -->
            <tr>
                <td><i>
                    {if condition="$gid eq 8 or $gid eq 11"}
                        {$vo[1]|get_five_char}
                    {elseif condition="$gid eq 1"}
                        {$vo[1]|get_card_party}
                    {elseif condition="$gid eq 10"}
                        {$vo[1]|get_num_title}
                    {elseif condition="$gid eq 29"}
                        {$vo[1]|get_num_title_}
                    {/if}</i></td>
                <td><?php echo number_format($vo[0],4,'.','');?></td>
                <!-- <td>0</td> -->
                <td><input type="checkbox" name="chk" role="f{$vo[1]}" {notempty name="$bids['f'.$vo[1]]"}checked{/notempty}></td>
                <td><input name="tbNum[]" role="f{$vo[1]}" data-index="{$k-1}" type="text" onkeyup="this.value=this.value.replace(/\D/g,'')" {notempty name="$bids['f'.$vo[1]]"}value="{$bids['f'.$vo[1]]}"{/notempty}></td>
                <td>
                    <button class="btn beilv" role="f{$vo[1]}" data-num="0.5">.5</button>
                    <button class="btn beilv" role="f{$vo[1]}" data-num="2">2</button>
                    <button class="btn beilv" role="f{$vo[1]}" data-num="10">10</button>
                </td>
            </tr> 
            {/volist}     
        </tbody>
    </table>
    <table class="r">
        <thead>
            <tr>
                <th width="10%">号码</th>
                <th width="16%">赔率</th>
                <!-- <th width="19%">已投注</th> -->
                <th width="10%">选择</th>
                <th width="21%">投注</th>
                <th width="24%">倍数</th>
            </tr>
        </thead>
        <tbody>
            {volist name="items_right" id="vo" key="k"}
            <!-- <?php if($vo[0]==1)  continue;  ?> -->
            <tr>
                <td><i>
                    {if condition="$gid eq 8 or $gid eq 11"}
                        {$vo[1]|get_five_char}
                    {elseif condition="$gid eq 1"}
                        {$vo[1]|get_card_party}
                    {elseif condition="$gid eq 10"}
                        {$vo[1]|get_num_title}
                    {elseif condition="$gid eq 29"}
                        {$vo[1]|get_num_title_}
                    {/if}</i></td>
                <td><?php echo number_format($vo[0],4,'.','');?></td>
                <!-- <td>0</td> -->
                <td><input type="checkbox" name="chk" role="f{$vo[1]}" {notempty name="$bids['f'.$vo[1]]"}checked{/notempty}></td>
                <td><input name="tbNum[]" role="f{$vo[1]}" data-index="{$left_half+$k-1}" type="text" onkeyup="this.value=this.value.replace(/\D/g,'')" {notempty name="$bids['f'.$vo[1]]"}value="{$bids['f'.$vo[1]]}"{/notempty}></td>
                <td>
                    <button class="btn beilv" role="f{$vo[1]}" data-num="0.5">.5</button>
                    <button class="btn beilv" role="f{$vo[1]}" data-num="2">2</button>
                    <button class="btn beilv" role="f{$vo[1]}" data-num="10">10</button>
                </td>
            </tr>
            {/volist}             
        </tbody>
    </table>
</div>
<input name="hidTimes" id="hidTimes" type="hidden" value="1">