{include file="public/header" /}

<link href="__CSS__/game.css" rel="stylesheet" type="text/css" />
<div  class="game-wrap page-width">

    {include file="game/header" /}
    <div class="game-header after">
        <a href="/game/index?gid={$gid}" class="hover">{$game.name}首页</a><a href="/game/intro?gid={$gid}" class="">游戏规则</a><a href="/game/record?gid={$gid}" class="">投注记录</a><a href="/game/mode?gid={$gid}" class="">编辑模式</a><a href="/game/auto?gid={$gid}" class="">自动投注</a><a href="/game/chart?gid={$gid}" class="">走势图</a><a href="/game/total?gid={$gid}" class="">盈利统计</a>        </div>
    <div class="game-this after">
        <div class="count-down" id="liTimer">&nbsp;</div>
    </div>
    <div class="bet-mode">
         <div class="my-mode">
            <label>我的投注模式：</label>
            <a role="useMyMode" data-id="51372">模式1</a>
            <a role="useMyMode" data-id="51373">模式2</a>
            <a role="useMyMode" data-id="51374">模式3</a>                    
            <a href="/game/mode?gid={$gid}">[编辑模式]</a>
        </div>   
        {switch name="$gid"}
            {case value="1"}{include file="game/betting_xybjl" /}{/case}
            {case value="2"}{include file="game/betting_xy10" /}{/case}
            
        {/switch}  

</div>

<script type="text/javascript">
    (function(root){
        root.GID = {$gid};
        root.OID = {$oid}; //id
        root.MAX_SCORE = {$game['max_bid']};
        root.MIN_SCORE = {$game['min_bid']};
        root.MY_SCORE = {$user['coin']};
        root.GTYPE = {$game['gtype']};
        root.PRESSNUM = '{$game[\'pressnum\']}'; //投注框的数字
        root.STOP_TIME = {$stop_time};
        root.NUMBER = {$oid}; //期号
    })(this)
</script>
<script type="text/javascript" src="__JS__/betting.js?v=2"></script>
<script>
    scrollTo('.game-header',500);
</script>
 {include file="public/footer" /}
