{include file="public/header" /}

<link href="__CSS__/game.css" rel="stylesheet" type="text/css" />
<div  class="game-wrap page-width">

	{include file="game/header" /}
    <div class="game-header after">
        <a href="/game/index?gid={$game.id}" class="">{$game.name}首页</a><a href="/game/intro?gid={$game.id}" class="">游戏规则</a><a href="/game/record?gid={$game.id}" class="">投注记录</a><a href="/game/mode?gid={$game.id}" class="">编辑模式</a><a href="/game/auto?gid={$game.id}" class="">自动投注</a><a href="/game/chart?gid={$game.id}" class="hover">走势图</a><a href="/game/total?gid={$game.id}" class="">盈利统计</a>        </div>
    <div id="chart-table" class="game-chart"></div>

</div>

<script type="text/javascript">
    (function(root){
        root.GID = 22;
    })(this)
</script>
<script type="text/javascript" src="__JS__/chart.js"></script>
 {include file="public/footer" /}
