{include file="public/header" /}

<link href="__CSS__/game.css" rel="stylesheet" type="text/css" />
<div  class="game-wrap page-width">

	    {include file="game/header" /}
        <div class="game-header after">
            <a href="/game/index?gid={$game.id}" class="hover">{$game.name}首页</a><a href="/game/intro?gid={$game.id}" class="">游戏规则</a><a href="/game/record?gid={$game.id}" class="">投注记录</a><a href="/game/mode?gid={$game.id}" class="">编辑模式</a><a href="/game/auto?gid={$game.id}" class="">自动投注</a><a href="/game/chart?gid={$game.id}" class="">走势图</a><a href="/game/total?gid={$game.id}" class="">盈利统计</a>       
        </div>
        <div id="page-wrap">
            <div class="loading" id="loading"><img src="__IMAGE__/loading.gif"> 加载中...</div>
        </div>

</div>
<div class="modal" id="myModal">
    <div class="modal-backdrop in"></div>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"><span>×</span></button>
                <h4 id="m-title"></h4>
            </div>
            <div class="modal-body">
                <div class="table" id="m-table"></div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    (function(root){
        root.GID = {$gid};
        root.GTYPE = 3;
        root.NTYPE = '{$ntype}';
        root.GTAG = '{$gtag}';
        root.SOUNDSJV = 10000;
    })(this);
    var IMAGE="__IMAGE__";
</script>
<script type="text/javascript" src="__JS__/jquery.pager.js"></script>
<script  type="text/javascript" src="__JS__/game-index.js?v=20190420"></script>
 {include file="public/footer" /}
