<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" href="__PUBLIC__/layui/css/layui.css">
	<!-- <link rel="stylesheet" href="__AGENT__/css/common.css"> -->
	<!-- <link rel="stylesheet" href="__AGENT__/css/main.css"> -->

	<script src="__PUBLIC__/layui/layui.js"></script>
	<!-- <script src="__PUBLIC__/jquery/jquery.min.js"></script> -->
	<title>资金提现</title>
</head>
<body>
	{include file="public/left" /}

	<div class="right">
		<h1>资金提现</h1>
		<hr>
		<div style="margin:40px 0 0 0;">
			<form class="layui-form" id="agentform">
				<div class="layui-form-item">
					<label class="layui-form-label">可提现金额</label>
					<div class="layui-input-block">
						<input type="text" name="deposit_money" id="deposit_money" disabled value="¥ {$deposit_money}"  disabled  class="layui-input">
					</div>
				</div>

				<div class="layui-form-item">
					<label class="layui-form-label">提现金额</label>
					<div class="layui-input-block">
						<input type="text" name="money"  id="money"　required  lay-verify="required|number" placeholder="请输入"  class="layui-input">
					</div>
				</div>

				<!-- <input type="hidden" name="cxinfo" value="cx">
				<input type="hidden" name="act" value="post"> -->

				<div class="layui-form-item">
					<div class="layui-input-block">
						<button class="layui-btn layui-btn-primary" lay-submit lay-filter="apply">申请提现</button>
					</div>
				</div>
			</form>
	    </div>
        <table class="layui-table">
		  <colgroup>
		    <col width="250">
		    <col width="200">
		    <col width="200">
		    <col>
		  </colgroup>
		  <thead>
		    <tr>
		      <th>时间</th>
			  <th>提现金额</th>
			  <th>处理状态</th>
			  <th>操作</th>
		    </tr> 
		  </thead>
		  <tbody>
		  	{volist name="lists" id="vo"  }
		    <tr>
				<td>{$vo.create_time}</td>
				<td>{$vo.money}</td>
				<td>
					<span style="color:#1ab144">
					   {if condition="$vo.status eq 1"}等待审核{elseif condition="$vo.status eq 2"/}提现成功{elseif condition="$vo.status eq 3"/}提现取消{elseif condition="$vo.status eq 4"/}提现失败{/if}
				    </span>
				</td>
				<td>
					   {if condition="$vo.status eq 1"}<a data-id="{$vo.id}" href="javascript:;" class="cancel">取消提现</a>{else /}-{/if}
				</td>
			</tr>
			{/volist}
		  </tbody>
		</table>
        <div>{$lists->render();}</div>
	

	</div>
<script tyep="text/javascript">
	layui.use(['layer', 'form','jquery'], function(){
	  var layer = layui.layer, form = layui.form,$=layui.jquery;
	  
	  //监听提交
	  form.on('submit(apply)', function(data){
	    // layer.msg(JSON.stringify(data.field));
	    var deposit_money=parseFloat($.trim($('#deposit_money').val().replace(/[^\w\.]/g,'')));
        var money=parseFloat($.trim($('#money').val()));
        if(money<0 || !money){
       	   layer.msg("提现金额输入有误！");
       	   return false;
        }
        console.log(money+','+deposit_money);
        if(money>deposit_money){
       	   layer.msg("您的提现超额，请核对！");
       	   return false;
        }
	    layer.confirm('确定要提现么？',function(){  //no availble
            $.ajax({
                // url:"{:url('agent/capital/withdraw')}",
                url:"/agent/capital/withdraw",
                data:$('#agentform').serialize(),
                type:'post',
                async: false,
                dataType:'json',
                success:function(res) {
                	// console.log(res)
                    if(res.code == 1) {
                        layer.alert(res.msg, function(index){ 
	                       location.href = res.url;
	                       layer.close(index);
	                    })
                    } else {
                        layer.msg(res.msg);
                    }
                }
            });
	    });
	    return false;
	  });

	  $('.cancel').click(function(){
	  	var id=$(this).attr('data-id');
        $.ajax({
            // url:"{:url('agent/capital/withdraw')}",
            url:"/agent/capital/cancel",
            data:{id:id},
            type:'post',
            async: false,
            dataType:'json',
            success:function(res) {
            	// console.log(res)
                if(res.code == 1) {
                    layer.alert(res.msg, function(index){ 
                       location.href = res.url;
                       layer.close(index);
                    })
                } else {
                    layer.msg(res.msg);
                }
            }
        });
	  })
	});
</script> 
</body>
</html>