<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>充值管理</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="__PUBLIC__/layui/css/layui.css"  media="all">
  <link rel="stylesheet" href="__PUBLIC__/font-awesome/css/font-awesome.min.css" media="all" />
  <link rel="stylesheet" href="__CSS__/admin.css"  media="all">
  <style type="text/css">

/* tooltip */
#tooltip{
  position:absolute;
  border:1px solid #ccc;
  background:#333;
  padding:2px;
  display:none;
  color:#fff;
}
</style>
</head>
<body style="padding:10px;">
  <div class="tplay-body-div">
    <div class="layui-tab">
      <ul class="layui-tab-title">
        <li class="layui-this">充值管理</li>
        <!-- <li><a href="{:url('admin/prize/editremark')}" class="a_menu">编辑评论</a></li> -->
      </ul>
    </div>
    <table class="layui-table" lay-size="sm">
      <colgroup>
        <col width="100">
        <col width="200">
        <col width="200">
        <col width="300">
        <col width="150">
        <col width="150">
        <col width="150">
      </colgroup>
      <thead>
        <tr>
          <th>用户</th>
          <th>充值金币</th>
          <th>充值时间</th>
          <th>备注</th>
          <th>当前金币</th>
          <th>银行</th>
          <th>登录IP</th>
        </tr> 
      </thead>
      <tbody>
        {volist name="charges" id="vo"}
        <tr>
          <td>{$vo.user.username}</td>
          <td>{$vo.mp_coin|number_format}</td>
          <td>{$vo.create_time}</td>
          <td>{$vo.desc}</td>
          <td>{$vo.coin|number_format}</td>
          <td>{$vo.user.bank}</td>
          <td>{$vo.user.login_ip}</td>
        </tr>
        {/volist}
      </tbody>
    </table>
    <div>{$charges->render();}</div>
    {include file="public/foot"}
    <!-- <script type="text/javascript">

    $('.reject').click(function(){
      var id = $(this).attr('id');
      
      $.ajax({
        url:"{:url('admin/agent/rejected')}",
        data:{id:id},
        success:function(res) {
          // console.log(res)
          layer.msg(res.msg);
          if(res.code == 1) {
            setTimeout(function(){
              location.href = res.url;
            },1500)
          }
        }
      })
   
    })
    </script> -->
  </div>
</body>
</html>
