<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>代理资金提现</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="__PUBLIC__/layui/css/layui.css"  media="all">
  <link rel="stylesheet" href="__PUBLIC__/font-awesome/css/font-awesome.min.css" media="all" />
  <link rel="stylesheet" href="__CSS__/admin.css"  media="all">
  <style type="text/css">

/* tooltip */
#tooltip{
  position:absolute;
  border:1px solid #ccc;
  background:#333;
  padding:2px;
  display:none;
  color:#fff;
}
</style>
</head>
<body style="padding:10px;">
  <div class="tplay-body-div">
    <div class="layui-tab">
      <ul class="layui-tab-title">
        <li class="layui-this">代理提现</li>
        <!-- <li><a href="{:url('admin/prize/editremark')}" class="a_menu">编辑评论</a></li> -->
      </ul>
    </div>
    <table class="layui-table" lay-size="sm">
      <colgroup>
        <col width="350">
        <col width="200">
        <col width="200">
        <col width="100">
        <col width="150">
      </colgroup>
      <thead>
        <tr>
          <th>代理名</th>
          <th>提现时间</th>
          <th>提现金额</th>
          <th>状态</th>
          <th>处理</th>
        </tr> 
      </thead>
      <tbody>
        {volist name="deposits" id="vo"}
        <tr>
          <td>{$vo.agent.name}</td>
          <td>{$vo.create_time}</td>
          <td>{$vo.money}</td>
          <td>{if condition="$vo.status eq 1"}待处理{elseif condition="$vo.status eq 2" /}已处理{elseif condition="$vo.status eq 3" /}已取消提现{elseif condition="$vo.status eq 4" /}已拒绝{/if}</td>
          <td class="operation-menu">
            <div class="layui-btn-group">
              {if condition="$vo.status eq 1"}
              <a href="{:url('admin/agent/dealed',['id'=>$vo.id])}" class="layui-btn layui-btn-xs a_menu layui-btn-primary" style="margin-right: 0;font-size:12px;">打款完毕</a>
              <a href="javascript:;" class="layui-btn layui-btn-xs layui-btn-primary reject" id="{$vo.id}" style="margin-right: 0;font-size:12px;">拒绝提现</a>
              {else /}<a>---</a>{/if}
            </div>
          </td>
        </tr>
        {/volist}
      </tbody>
    </table>
            
    {include file="public/foot"}
    <script type="text/javascript">

    $('.reject').click(function(){
      var id = $(this).attr('id');
      
      $.ajax({
        url:"{:url('admin/agent/rejected')}",
        data:{id:id},
        success:function(res) {
          // console.log(res)
          layer.msg(res.msg);
          if(res.code == 1) {
            setTimeout(function(){
              location.href = res.url;
            },1500)
          }
        }
      })
   
    })
    </script>
  </div>
</body>
</html>
