{include file="public/header" /}
<script src="__JS__/js.js"></script>
<style type="text/css">
.la{ padding:12px; line-height:20px;}
.la a{ display:block;margin-bottom: 15px;}
.la a:link,.la a:visited{ color:#333;}
</style>

<div class="area oo" style="min-height:600px;">

	<div class="newsleft fr">
		<!-- <div class="help">
			<h2>最近公告</h2>
			<ul>
				<li><a href="/News/Detail?id=116"><span style="color: #E9272F">[02-11]</span>游戏已经全部恢复！祝您游戏愉快！</a>
				</li>
				<li><a href="/News/Detail?id=115"><span style="color: #E9272F">[02-04]</span>2019年春节蛋蛋/北京类游戏停机公告</a>
				</li>
				<li><a href="/News/Detail?id=114"><span style="color: #E9272F">[01-18]</span>妞妞点卡解除合作</a>
				</li>
				<li><a href="/News/Detail?id=113"><span style="color: #E9272F">[01-08]</span>全新界面！带给您更好的游戏体验！app正在内测！</a>
				</li>
				<li><a href="/News/Detail?id=111"><span style="color: #E9272F">[01-01]</span>跨年红包中奖用户如下！</a>
				</li>
				<li><a href="/News/Detail?id=110"><span style="color: #E9272F">[12-19]</span>梦想点卡解除合作</a>
				</li>
				<li><a href="/News/Detail?id=107"><span style="color: #E9272F">[11-26]</span>全民免手续费！只要V1以上即可免手续费！</a>
				</li>
				<li><a href="/News/Detail?id=104"><span style="color: #E9272F">[08-06]</span>更名公告</a>
				</li>
				<li><a href="/News/Detail?id=100"><span style="color: #E9272F">[01-11]</span>乐豆28元旦活动礼品奖励公布如下：</a>
				</li>
				<li><a href="/News/Detail?id=112"><span style="color: #E9272F">[01-02]</span>2019元旦快乐</a>
				</li>
			</ul>
		</div> -->
		<div class="comm">
			<h2>最新推荐</h2>
			<img src="__IMAGE__/hd1.jpg" >
			<img src="__IMAGE__/hd3.jpg" style="margin-top:10px;">
		</div>
	</div>

	<div class="newsli fl">
		<div class="top">
			<h1>查看公告</h1>

		</div>
		<div class="newscon">
			<h2>{$board['title']}</h2>
			<div class="fabu">发布：<span>{$title}</span> &nbsp;  &nbsp; 时间：<span>{$board.create_time|strtotime|date='Y-m-d',###}</span></div>
			<b><font color="#ff0000">{$board.content}</font></b>
		</div>

	</div>
</div>     
{include file="public/footer" /}  
