{include file="public/header" /}
<script src="__JS__/js.js"></script>
<div class="area oo" style="min-height:600px;">

	<div class="newsleft fr">
		<div class="help">
			<h2>常见问题</h2>
			<ul>
			</ul>
		</div>
		<div class="comm">
			<h2>最新推荐</h2>
			<img src="__IMAGE__/hd1.jpg" >
			<img src="__IMAGE__/hd3.jpg" style="margin-top:10px;">
		</div>
	</div>

	<div class="newsli fl">
		<div class="top">
			<h1>网站公告</h1>
		</div>
		<ul  id="ContentPlaceHolder1_GridView1">
			{volist name="boards" id="vo"}
			<li><a href="/board/detail/{$vo.id}">{$vo.title}</a>
				<span>{$vo.create_time|strtotime|date='Y-m-d',###}</span>
			</li>
			{/volist}
		</ul>
        <div style="padding:0 20px;">{$boards->render()}</div> 
	</div>

</div>
{include file="public/footer" /}
