{include file="public/header" /}
<script type="text/javascript" src="__JS__/gt.js"></script>
<script type="text/javascript" src="__JS__/js.js"></script>
<script type="text/javascript" src="__JS__/findpwd.js"></script>


<script src="__PUBLIC__/jquery/jquery.showLoading.min.js"></script>
<link href="__CSS__/register.css" rel="stylesheet"/>

<div class="regbox">
    <div class="register" style="background:none">
        <div class="reg_items" style="padding-bottom: 300px;">
            <div class="reg_items_step_1">
                <ul>
                    <FORM id="findpwdform">
                  
                        <div id="step2">
                            <li style="display:block"><span>设置密码</span>
                                <INPUT type="password" class="register_txt a1" maxLength=50 name="password" id="password1">
                            </li>
                            <li style="display:block"><span>确认密码</span>
                                <INPUT type="password" class="register_txt a1" maxLength=50 name="password2" id="password2">
                            </li>


                            <li style="display:block"><span></span>
                                <button lay-submit lay-filter="findpwd2" class="register_btn_gary">修改密码</button>
                            </li>
                        </div>

                    </form>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="foot w100">
    <div class="w1000 oo">
        <div class="footl fl">

            <b>尊敬的彩豆28游戏中心玩家：</b><br />
            彩豆28游戏中心为休闲娱乐平台，倡导玩家健康游戏。禁止非法组织或个人利用本平台进行赌博或倒卖虚拟货币的非法行为，一经查证核实，将做封号处理并没收其所有虚拟货币，请广大玩家相互转告！
            祝玩家朋友们游戏愉快！<br />
            <span style="float:right">—— 彩豆28官方</span>
        </div>

        <div class="footr fr">
           <img src="__IMAGE__/logo.png" style="margin-left:40px"><br />
           官方QQ群：<a href="https://ssl.pop800.com/chat/368923" target="_blank">2577000</a> <a href='http://www.miitbeian.gov.cn/'> </a><br />
           COPYRIGHT ◎2017 彩豆28 caidou28.com All Rights Reserved. 
       </div>

   </div>
</div>
</body>
</html>
