{include file="public/header" /}
<link href="__CSS__/login.css" type="text/css" rel="stylesheet" />
<script src="__JS__/gt.js"></script>
<!-- <script src="http://static.geetest.com/static/tools/gt.js"></script> -->
<script src="__PUBLIC__/jquery/jquery.showLoading.min.js"></script>
<script src="__PUBLIC__/jquery/jquery.qrcode.min.js"></script>
<script  type="text/javascript" src="__JS__/login.js?v=1.1"></script>

<div class="login">
	<div class="box">
        <div id="loginbox" class="login_box">
        <div class="tit1"><strong>登录</strong> <!-- <em>手机快捷登录</em> --></div>

        <div class="form-content" id="ifmFormContent">
           <form id="loginsform" >
                <ul class="regzone">
                 您已经设置了使用口令卡登陆，请按坐标输入口令。
                 <li>
                    <label>{$x}{$y}</label>
                    <input name="coordinate" id="coordinate" type="text" maxlength="30" id="ContentPlaceHolder1_TextBox4" class="logintb"/>
                </li>
                </ul>
            <div class="tool">
                <a href="/common/logout" class="fr">退出</a>
            </div>
            <button  lay-submit lay-filter="logins" class="regbtn">登录</button>
            <!-- <div class="tool">
                <a href="/plugin/qc/login.php" class="fl">QQ登录</a>
                <a href="#" class="fr">微信登录</a>
            </div> -->
            </form>
        </div>
</div>       
</div>
</div>
<script type="text/javascript">

    layui.use(['layer', 'form','jquery'], function(){
        var layer = layui.layer, form = layui.form,$=layui.jquery;
        
        form.on('submit(logins)',function(data){
            if($("#coordinate").val()==""){
                layer.alert("请输入密保卡!");
                return false;
            }
            $.ajax({
                url:"/common/logins",
                data:$('#loginsform').serialize(),
                type:'post',
                async: false,
                dataType:'json',
                success:function(res) {
                  // console.log(res);

                    if(res.code == 1) {
                          //layer.msg(res.msg, function(index){
                            location.href = res.url;
                          //})
                    } else {
                          layer.msg(res.msg);
                    }
                }
            })
            return false;
        })

    })
	var timeid;

    //页面刚开始加载的时候
    $(function () {
        $("#tologin").hide();
        $("#rebackcode").hide();
    });
    function _getRandomString(len) {
        len = len || 32;
        var $chars = 'ABCDEFGHJKMNPQRSTWXYZabcdefhijkmnprstwxyz2345678'; // 默认去掉了容易混淆的字符oOLl,9gq,Vv,Uu,I1
        var maxPos = $chars.length;
        var pwd = '';
        for (i = 0; i < len; i++) {
            pwd += $chars.charAt(Math.floor(Math.random() * maxPos));
        }
        return pwd;
    }

   
</script>
{include file="public/footer" /}