{include file="public/header" /}
<link href="__CSS__/login.css" type="text/css" rel="stylesheet" />
<script src="__JS__/gt.js"></script>
<!-- <script src="http://static.geetest.com/static/tools/gt.js"></script> -->
<script src="__PUBLIC__/jquery/jquery.showLoading.min.js"></script>
<script src="__PUBLIC__/jquery/jquery.qrcode.min.js"></script>
<script  type="text/javascript" src="__JS__/login.js?v=1.1"></script>

<div class="login">
	<div class="box">
        <div id="loginbox" class="login_box">
           <div class="tit1"><strong>登录</strong> <em>手机快捷登录</em></div>
           <!-- <div class="scancode" id="scancode">
                <span class="codetip">扫码登录<em></em><div></div></span>
                <a id="toTab" class="codetab" href="javascript:void(0);"><img src="__IMAGE__/scancode.png" width="100%"></a>
            </div> -->
            <!-- <div id="rebackcode" class="scancode">
                <span class="codetip">其他登录<em></em><div></div></span>
                <a id="reTab" class="codetab" href="javascript:void(0);"><img src="__IMAGE__/tokenlogin.png" width="100%"></a>
            </div> -->
            <div class="form-content" id="ifmFormContent">
                <form id="loginform"  method="post">
                    <input type="hidden" name="logintype" id="logintype" value="1">
                    <ul class="regzone tabl">
                       <li>
                          <label><img src="__IMAGE__/mobile.png"></label>
                          <input id="usernametb" class="logintb" type="text" placeholder="手机号/邮箱" name="tbUserAccount">
                      </li>
                      <li>
                          <label><img src="__IMAGE__/pwd.png"></label>
                          <input id="pwdtb" class="logintb" type="password"  placeholder="密码" name="tbUserPwd">
                      </li>
                      <li style="display:none">
                          <label><img src="__IMAGE__/mobile.png"></label>
                          <input id="mobile" class="logintb" type="text" placeholder="手机号" name="mobile">
                      </li>
                      <li style="display:none">
                          <label><img src="__IMAGE__/pwd.png"></label>
                          <input id="code" class="logintb" type="text"  maxlength="6" placeholder="验证码" name="code"><button type="button" id="popup-submit" class="send_btn">获取验证码</button>
                      </li>

                      <div id="popup-captcha"></div>
                    </ul>
                    <div class="tool">
                       <a href="/User/FindPwd" class="fl">找回密码</a>
                       <a href="/User/Reg" class="fr">5秒注册</a>
                   </div>
                   <button id="loginBtn" lay-submit lay-filter="login"   class="regbtn">登录</button>
               </form>

            </div>
            <!-- <div id="tologin" class="tologin" style="display: none;">
            <div id="QRcode" class="QRcode"></div>

                <form id="tokenform1" method="POST" action="/User/Login?act=login">
                    <input hidden="hidden" type="text" name="randnumber" id="randnumber" value=""/>
                    <input hidden="hidden" type="text" name="logintype" id="logintype" value="4"/>
                    <input type="submit" style="display:none" value="提交"/>
                    <div id="openapp" class="openapp"><p>打开 <span style="color: #f02400;font-size: 17px;">彩豆28 APP</span>
                    扫码登录</p></div>
                    <div class="totext">
                        <a href="/appDownload.php">下载彩豆28 APP</a>
                        <a href="/User/Reg">♚马上注册</a>
                    </div>
                </form>
            </div> -->
        </div>       
    </div>
</div>
<script type="text/javascript">
	var timeid;

    //页面刚开始加载的时候
    $(function () {
        $("#tologin").hide();
        $("#rebackcode").hide();
    });
    function _getRandomString(len) {
        len = len || 32;
        var $chars = 'ABCDEFGHJKMNPQRSTWXYZabcdefhijkmnprstwxyz2345678'; // 默认去掉了容易混淆的字符oOLl,9gq,Vv,Uu,I1
        var maxPos = $chars.length;
        var pwd = '';
        for (i = 0; i < len; i++) {
            pwd += $chars.charAt(Math.floor(Math.random() * maxPos));
        }
        return pwd;
    }

    // layui.use(['layer', 'form'], function(){
    //   var layer = layui.layer
    //   ,form = layui.form;
      
      
    //   form.on('submit(login)',function(){
    //      $.ajax({
    //           url:"{:url('/common/login')}",
    //           data:$('#loginform').serialize(),
    //           type:'post',
    //           async: false,
    //           success:function(res) {
    //               // console.log(res);
    //               if(res.code == 1) {
    //                   layer.msg(res.msg, function(index){
    //                     location.href = res.url;
    //                   })
    //               } else {
    //                   layer.msg(res.msg);
    //               }
    //           }
    //       })
    //       return false;
    //   })
    // });


    // function polling() {

    //     var randnumber = $('#randnumber').val();
    //     $.ajax({
    //         url: "/Ajax_ScanLogin.php",
    //         method: "post",
    //         data: {
    //             randnumber: randnumber,
    //         },
    //         success: function (res) {

    //             if (res == 'true') {
    //                 $('#tokenform1').submit();
    //                 window.clearInterval(timeid);
    //             }
    //             if (res == '-2') {
    //                 var str = '';
    //                 str += "<center>";
    //                 str += "<div><img src='__IMAGE__/codeover.png' style='width:140px;height:140px;'></div>";
    //                 str += "</center>";
    //                 $("#QRcode").html(str + "二维码失效");
    //                 $("#openapp").html("<a onclick='newcode()' class='regbtn'>刷新二维码</a>");
    //                 window.clearInterval(timeid);
    //             }

    //         }
    //     })
    // }




    // function newcode() {

    //     var randnumber = _getRandomString(8);
    //     $.ajax({
    //         url: "/User/Login",
    //         method: "post",
    //         data: {
    //             coderequest: 1,
    //             randnum:randnumber
    //         },
    //         dataType: "json",
    //         success: function (res) {
    //             if (res.status==1){
    //                 $("#QRcode").html('');
    //                 $("#QRcode").qrcode({
    //                     width: 126, //宽度
    //                     height:126, //高度
    //                     text: randnumber +' OS:'+res.os //任意内容
    //                 });

    //                 $('#randnumber').val(randnumber);


    //                 $("#openapp").html("<p>打开 <span style='color: #f02400;font-size: 17px;'>彩豆28 APP</span> 扫码登录</p>")
    //                 timeid = setInterval("polling()", 1000);
    //             }
    //         }
    //     })

    // }



    //点击扫码登录的时候
    // $("body").on("click", "#toTab", function () {
    //     $("#ifmFormContent").hide();
    //     $("#tologin").show();
    //     $("#rebackcode").show();
    //     $("#scancode").hide();
    //     newcode();

    // });

    //点击其他登录
    // $("body").on("click", "#reTab", function () {
    //     $("#ifmFormContent").show();
    //     $("#tologin").hide();
    //     $("#rebackcode").hide();
    //     $("#scancode").show();
    //     window.clearInterval(timeid);
    // });
</script>
{include file="public/footer" /}