{include file="public/header" /}
<div id="wrapper" class="umain">
	<div class="w1200">
		<!--顶侧top-->
		{include file="user/header" /}
		<!--顶侧top-->

		<!--左侧left菜单-->
		{include file="user/left" /}
		<!--左侧left菜单-->


		<div class="uright">
			<div class="ibox">
				<div class="ibox-title">
					<h5>首充返利</h5>
				</div>
				<div class="tishi">各等级每天可领取次数和领取条件如下表，账户余额均包括虚拟银行存款。</div>
			
				<div class="ibox-content">
					<div class="tishi tishi1" style="background: url(__IMAGE__/tishi-icon.png) no-repeat left top;">彩豆28首充返利盛大来袭，所有会员在彩豆28每日首充，即可获得首次充值金额的0.5000%返利。<br>
					●当日首次充值返利在第二天进行领取，逾期无法领取。 <br>
					●每日首充是指每日0点后的第1笔充值。</div>
					
									<div class="bonus-text">sorry!您昨日没有充值哦！</div>
					<a href="/User/MyRecharge" class="user-btn" style="margin:0 auto">立即充值</a>
				</div>


			</div>
		</div>
	</div>
</div>
{include file="public/footer" /}