<div class="utop">
	<div class="utop-head">
		<img src="<?php if(!empty($user['avatar']) && geturl($user['avatar'])){ ?><?php echo geturl($user['avatar']);?><?php }else{ ?>__IMAGE__/user/avatar.jpg<?php }?>" width="100%" height="100%"><a href="/User/Edit" class="utop-head-btn">修改头像</a></div>
	<div class="utop-info">
		<p class="utop-info-p">欢迎回来，<span>ikscher</span>。您有 <span>0</span> 条消息。</p>
		<div class="utop-info-name">昵称：{$user['username']}</div>
		<div class="utop-info-name">ID:{$user['uid']}</div>
	</div>
	<ul class="ubase-ul">
		<li class="li1">
			<p class="p1">账户余额</p>
			<p class="p2">{$user['coin']}</p>
		</li>
		<li class="li2">
			<p class="p1">银行</p>
			<p class="p2">{$user['bank']}</p>
		</li>
		<li class="li3">
			<p class="p1">积分</p>
			<p class="p2">{$user['points']}</p>
		</li>
		<li class="li4">
			<p class="p1">经验</p>
			<p class="p2">{$user['experiments']}</p>
		</li>
	</ul>
</div>