{include file="public/header" /}
<link href="__PUBLIC__/layui/css/layui.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="__JS__/birthday_jq.js" ></script>
<div id="wrapper" class="umain">
	<div class="w1200">
		<!--顶侧top-->
		{include file="user/header" /}
		<!--顶侧top-->

		<!--左侧left菜单-->
		{include file="user/left" /}
		<!--左侧left菜单-->

		<div class="uright">
		
			<div class="ibox">
	            <div class="ibox-title">
	                <h5>推广收益</h5>
	            </div>
	            <div style="min-height: 250px;">
					<table class="user-table mt20">
		                <thead>
						<tr>
							 <th>下线ID</th>
							 <th>类型</th>
							 <th>注册时间</th>
							 <th>奖励时间</th>
							 <th>获得奖励</th>
						</tr>
						</thead>
						<tbody>
						</tbody>
					</table>
				</div>
				<div class="page"><li ><a  href="/User/Recomprofit?page=1">首页</a></li> <li ><a  href="#">上一页</a></li> <li ><a  href="/User/Recomprofit?page=2">下一页</a></li> <li ><a  href="/User/Recomprofit?page=0">尾页</a></li>　(当前第<span style="color:#C16012; font-size:12pt;">1</span>页 共<span style="color:#C16012; font-size:12pt;">0</span>页 <span style="color:#C16012; font-size:12pt;">0</span>条记录)</div>

	        </div>
			
   		</div><!--uright-->

	</div>
</div>

{include file="public/footer" /}
