{include file="public/header" /}
<div id="wrapper" class="umain">
	<div class="w1200">
		<!--顶侧top-->
		{include file="user/header" /}
		<!--顶侧top-->

		<!--左侧left菜单-->
		{include file="user/left" /}
		<!--左侧left菜单-->


		<div class="uright">
			<div class="ibox">
				<div class="ibox-title">
					<h5>领取救济</h5>
				</div>
				<div class="tishi">各等级每天可领取次数和领取条件如下表，账户余额均包括虚拟银行存款。</div>
			
				<div class="alms-table mt40">
	                <ul class="alms-head">
	                     <li>等级</li>
	                     <li>可领救济</li>
	                     <li>领取条件</li>
	                     <li>每日次数</li>
	                </ul>
	                <ul class="alms-con">
	                    <li><i class="user-dj user-dj0"></i></li>
	                    <li><span class="red">50</span></li>
	                    <li>账户余额<<span class="red">50</span></li>
	                    <li><span class="red">10</span></li>
	                </ul>
	                <ul class="alms-con">
	                    <li><i class="user-dj user-dj1"></i></li>
	                    <li><span class="red">60</span></li>
	                    <li>账户余额<<span class="red">50</span></li>
	                    <li><span class="red">10</span></li>
	                </ul>
	                <ul class="alms-con">
	                    <li><i class="user-dj user-dj2"></i></li>
	                    <li><span class="red">70</span></li>
	                    <li>账户余额<<span class="red">70</span></li>
	                    <li><span class="red">10</span></li>
	                </ul>
	                <ul class="alms-con">
	                    <li><i class="user-dj user-dj3"></i></li>
	                    <li><span class="red">100</span></li>
	                    <li>账户余额<<span class="red">100</span></li>
	                    <li><span class="red">10</span></li>
	                </ul>
	                <ul class="alms-con">
	                    <li><i class="user-dj user-dj4"></i></li>
	                    <li><span class="red">120</span></li>
	                    <li>账户余额<<span class="red">120</span></li>
	                    <li><span class="red">10</span></li>
	                </ul>
	                <ul class="alms-con">
	                    <li><i class="user-dj user-dj5"></i></li>
	                    <li><span class="red">150</span></li>
	                    <li>账户余额<<span class="red">150</span></li>
	                    <li><span class="red">10</span></li>
	                </ul>
	                <ul class="alms-con">
	                    <li><i class="user-dj user-dj6"></i></li>
	                    <li><span class="red">200</span></li>
	                    <li>账户余额<<span class="red">200</span></li>
	                    <li><span class="red">10</span></li>
	                </ul>
	            </div>
	            <ul class="reward-ul mt40" style="text-align: center;">
	                <li>
	                    <label>您当前的等级为：</label>
	                    <i class="user-dj user-dj0 fl"></i>
	                </li>
	                <li>
	                    <label>账户余额：</label>
	                    <span class="bonus-span">42,399</span>
	                </li>
	                <li>
	                    <label>可救济领取：</label>
	                    <span class="bonus-span">0</span>
	                </li>
	            </ul>

				<form class="btc_transfer" action="?act=almsgiving" method="post">
				<button class="user-btn" type="submit" style="margin: 20px auto;display: block;">确认领取</button>
				</form>


			</div>
		</div>
	</div>
</div>
{include file="public/footer" /}