{include file="public/header" /}
<div id="wrapper" class="umain">
	<div class="w1200">
		<!--顶侧top-->
		{include file="user/header" /}
		<!--顶侧top-->

		<!--左侧left菜单-->
		{include file="user/left" /}
		<!--左侧left菜单-->


		<div class="uright">
			<div class="ibox">
				<div class="ibox-title">
					<h5>我的密保卡</h5>
				</div>
				{notempty name="$access"}
				<p style="text-align:center;margin-bottom:10px" class="mt40">您还有<font style="color:red">{$remain/60|intval}</font>分钟可查看此卡，过期将无法再查看，请尽快截图保存，或按Ctrl+S保存。</p>
                
				<div class="safecard">
					<table cellspacing="0" cellpadding="0">
						<tr><td colspan="10">{$title}用户[{$user['uid']}]密保卡</span></td></tr>
						<tr class="letter_block hc"><td>&nbsp;</td><td>1</td><td>2</td><td>3</td><td>4</td><td>5</td><td>6</td><td>7</td><td>8</td><td>9</td></tr>
						<?php $i=0;?>
						{foreach name="safepwd" item="vo" key="k" }
							<tr {if condition="$i%2 eq 1"}class="hc"{/if}>
							   <td class="mum_block">{$k}</td>
	                           {foreach name="vo" item="vo_"}
	                              <td>{$vo_}</td>
	                           {/foreach}
						    </tr>
						    <?php $i++;?>
					    {/foreach}
						
					</table>
				</div>
			    {else /}
			    <p style="text-align:center;margin-bottom:10px" class="mt40">您无法再查看口令卡，如口令卡遗失请联系客服。</p>
				{/notempty}
			</div>
		</div>
	</div>
</div>
{include file="public/footer" /}