{include file="public/header" /}
<link href="__PUBLIC__/layui/css/layui.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="__JS__/birthday_jq.js" ></script>
<div id="wrapper" class="umain">
	<div class="w1200">
		<!--顶侧top-->
		{include file="user/header" /}
		<!--顶侧top-->

		<!--左侧left菜单-->
		{include file="user/left" /}
		<!--左侧left菜单-->

		<div class="uright">
		
			<div class="ibox">
                <div class="ibox-title">
                    <h5>签到中心</h5>
                </div>
				<div class="qd-text">您已连续签到<span class="red">2</span>天,累计获得签到奖励<span class="red">4</span></div>
                <div class="sign-box">
                    <div class="sign-left">
                        <div class="qd-state">
                            <a href="?act=qd" class="qd-btn">点击签到</a>
                        
                            <div class="qdtime">
                                <div class="sign-today-year" id="today-year"></div>
                                <div class="sign-today-date" id="today-date"></div>
                            </div>
                        </div>
                        <div class="checkin"></div>
                        
                    </div>
                    
                    <div class="sign-right">
                        <div class="qdjl-tit">签到奖励规则</div>
                        <div class="qdjl-text">(连续签到天数超过7天按7天计算奖励)</div>
                        <table class="signjl-table">
                            <thead>
                            <tr>
                                 <th width="80px">等级</th>
                                 <th>签到奖励</th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><i class="user-dj user-dj0"></i></td>
                                    <td>0 + 1 x 天数</td>
                                </tr>
                                <tr>
                                    <td><i class="user-dj user-dj1"></i></td>
                                    <td>20 + 1 x 天数</td>
                                </tr>
                                <tr>
                                    <td><i class="user-dj user-dj2"></i></td>
                                    <td>30 + 1 x 天数</td>
                                </tr>
                                <tr>
                                    <td><i class="user-dj user-dj3"></i></td>
                                    <td>60 + 1 x 天数</td>
                                </tr>
                                <tr>
                                    <td><i class="user-dj user-dj4"></i></td>
                                    <td>100 + 1 x 天数</td>
                                </tr>
                                <tr>
                                    <td><i class="user-dj user-dj5"></i></td>
                                    <td>150 + 1 x 天数</td>
                                </tr>
                                <tr>
                                    <td><i class="user-dj user-dj6"></i></td>
                                    <td>200 + 1 x 天数</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>


                <div class="ibox-title">
                    <h5>签到记录</h5>
                </div>
                <div style="min-height: 100px;">
                <table class="user-table mt40">
                    <thead>
                    <tr>
                         <th>事件</th>
                         <th>时间</th>
                         <th>金额</th>
                         <th>经验</th>
                         <th>余额</th>
                    </tr>
                    </thead>
                    <tbody>
                                        <tr>
                        <td>每日签到</td>
                        <td>2019-04-08 23:11:51</td>
                        <td>1</td>
                        <td>0</td>
                        <td>42397</td>
                    </tr>
                                        <tr>
                        <td>每日签到</td>
                        <td>2019-04-09 11:11:44</td>
                        <td>2</td>
                        <td>0</td>
                        <td>42399</td>
                    </tr>
                    
                    </tbody>
                </table>
                <div class="page"><li ><a  href="/User/Sign?page=1">首页</a></li> <li ><a  href="#">上一页</a></li> <li ><a  href="/User/Sign?page=2">下一页</a></li> <li ><a  href="/User/Sign?page=1">尾页</a></li>　(当前第<span style="color:#C16012; font-size:12pt;">1</span>页 共<span style="color:#C16012; font-size:12pt;">1</span>页 <span style="color:#C16012; font-size:12pt;">2</span>条记录)</div>
                </div>
		    </div>


   

			
			
        </div><!--uright-->

	</div>
</div>
<script type="text/javascript">
    ;(function($) {
        var Checkin = function(ele, options) {
            this.ele = ele;
            this.opt = options;
            this.defaults = {
                height: 'auto',
                dateArray: [7,8], // 假设已签到的天数+1
            };
            this.obj = $.extend({}, this.defaults, this.opt);
        }
        Checkin.prototype.init = function() {
            var _self = this.ele,
                html = '',
                myDate = new Date(),
                year = myDate.getFullYear(),
                month = myDate.getMonth(),
                day = myDate.getDate(),
                weekText = ['日', '一', '二', '三', '四', '五', '六'];
            _self.css({
                width: this.obj.width + 'px',
                height: this.obj.height,
                background: this.obj.background,
                borderRadius: this.obj.radius,
                color: this.obj.color,
                padding: this.obj.padding
            });
            $("#today-year").html(year);
            $("#today-date").html((month + 1) + '-' + day);
            $("<ul class='week clearfix'></ul><ul class='calendarList clearfix'></ul>").appendTo(_self);
            for (var i = 0; i < 7; i++) {
                _self.find(".week").append("<li>" + weekText[i] + "</li>")
            };
            for (var i = 0; i < 42; i++) {
                html += "<li><span></span></li>"
            };
            _self.find(".calendarList").append(html);
            var $li = _self.find(".calendarList").find("li");
            /*_self.find(".calendarList").find("li:nth-child(7n)").css('borderRight', 'none');
            _self.find(".week li:nth-child(7n)").css('borderRight', 'none');*/
            var monthFirst = new Date(year, month, 1).getDay();
            var d = new Date(year, (month + 1), 0)
            var totalDay = d.getDate(); //获取当前月的天数
            for (var i = 0; i < totalDay; i++) {
                $li.eq(i + monthFirst).html("<span>"+(i + 1)+"</span>");
                $li.eq(i + monthFirst).addClass('data' + (i + 1))
                if (isArray(this.obj.dateArray)) {
                    for (var j = 0; j < this.obj.dateArray.length; j++) {
                        if (i == this.obj.dateArray[j]) {
                            // 假设已经签到的
                            $li.eq(i + monthFirst).addClass('checked');
                        }
                    }
                }
            }
            //$li.eq(monthFirst+day-1).css('background','#f7ca8e')
            _self.find($(".data" + day)).addClass('able-qiandao');
        }
        var isChecked = false;
        Checkin.prototype.events = function() {
            var _self = this.ele;
            var $li = _self.find(".calendarList").find("li");
            $li.on('click', function(event) {
                event.preventDefault();
                /* Act on the event */
                if ($(this).hasClass('able-qiandao')) {
                    $(this).addClass('checked');
                    modal(_self);
                    isChecked = true;
                }
            });
            var checkBtn = _self.find(".checkBtn");
            checkBtn.click(function(event) {
                modal(_self);
                _self.find('.able-qiandao').addClass('checked');
                isChecked = true;
            });
        }
        var modal = function(e) {
            var mask = e.parents().find(".mask");
            var close = e.parents().find(".closeBtn");
            if (mask && !isChecked) {
                mask.addClass('trf');
            } else {
                return
            };
            close.click(function(event) {
                event.preventDefault();
                mask.removeClass('trf')
            });
            /*e.parents().find('.checkBtn').text("已签到");*/
            
        }
        $.fn.Checkin = function(options) {
            var checkin = new Checkin(this, options);
            var obj = [checkin.init(), checkin.events()]
            return obj;
        }
        var isArray = function(arg) {
            return Object.prototype.toString.call(arg) === '[object Array]';
        };
    })(jQuery);
    // 插件调用
    $(".checkin").Checkin();
    $(".qd-btn").text("已签到");
    $(".qd-btn").attr("href","#");
</script>

{include file="public/footer" /}
