{include file="public/header" /}
<div id="wrapper" class="umain">
	<div class="w1200">
		<!--顶侧top-->
		{include file="user/header" /}
		<!--顶侧top-->

		<!--左侧left菜单-->
		{include file="user/left" /}
		<!--左侧left菜单-->


		<div class="uright">
			<div class="ibox">
				<div class="ibox-title">
					<h5>工资领取</h5>
				</div>
				<div class="ibox-content">
					<div class="tishi tishi1" style="background: url(__IMAGE__/tishi-icon.png) no-repeat left top;">
						彩豆28全新推出新的工资系统，让您领取工资，享受畅快游戏体验，具体使用方式如下：<br>
						● 可领取的工资额为您投注额的10000分之一！<br>
						● 自动投注不计入工资；<br>
						● 每日工资领取无限额；
					</div>
                    <form action="?act=lingqu" method="post">
						<ul class="reward-ul mt40" style="text-align: center;">
							<li>
								<label>您当前的等级为：</label>
								<i class="user-dj user-dj0 fl"></i>
							</li>
							<li>
								<label>可领取工资：</label>
								<span class="reward-span">0.2000</span>
							</li>
							
						</ul>
						<button class="user-btn" type="submit" style="display: block;margin:20px auto;position: relative;left: -40px;">确认领取</button>
				    </form>
                </div>

			</div>
		</div>
	</div>
</div>
{include file="public/footer" /}