<style type="text/css">
   .left,.right{float:left;}
   .right{margin:50px 40px;}
</style>
<div class="left">
	<ul class="layui-nav layui-nav-tree" lay-filter="test">
		<li style="line-height:100px;background-color:#5398e6;height:100px;text-align: center;font-size: 40px;">代理后台</li>
		<li class="layui-nav-item layui-nav-itemed">
			<a href="javascript:;">常用操作</a>
			<dl class="layui-nav-child">
				<dd><a href="/agent/operate/retract">卡密回收</a></dd>
				<dd><a href="/agent/operate/recharge">金币代充</a></dd>
				<dd><a href="/agent/operate/gencard">生产卡密</a></dd>
			</dl>
		</li>
		<li class="layui-nav-item layui-nav-itemed">
			<a href="javascript:;">其他功能</a>
			<dl class="layui-nav-child">
				<dd><a href="">代理信息</a></dd>
				<dd><a href="">业务统计</a></dd>
				<dd><a href="">排行榜</a></dd>
				<dd><a href="">资金互转</a></dd>
				<dd><a href="">库存管理（全部）</a></dd>
				<dd><a href="">库存管理（未售）</a></dd>
				<dd><a href="">代充撤回</a></dd>
			</dl>
		</li>
		<li class="layui-nav-item layui-nav-itemed">
			<a href="javascript:;">代理记录</a>
			<dl class="layui-nav-child">
				<dd><a href="javascript:;">全部记录</a></dd>
				<dd><a href="javascript:;">制卡记录</a></dd>
				<dd><a href="javascript:;">售卡记录</a></dd>
				<dd><a href="javascript:;">收卡记录</a></dd>
				<dd><a href="javascript:;">代充记录</a></dd>
			</dl>
		</li>
		<li class="layui-nav-item layui-nav-itemed">
			<a href="javascript:;">资金管理</a>
			<dl class="layui-nav-child">
				<dd><a href="javascript:;">自助充值</a></dd>
				<dd><a href="javascript:;">资金提现</a></dd>
			</dl>
		</li>
	</ul>
</div>