<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>layui</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="__PUBLIC__/layui/css/layui.css"  media="all">
  <link rel="stylesheet" href="__PUBLIC__/font-awesome/css/font-awesome.min.css" media="all" />
  <link rel="stylesheet" href="__CSS__/admin.css"  media="all">
  <style type="text/css">

/* tooltip */
#tooltip{
  position:absolute;
  border:1px solid #ccc;
  background:#333;
  padding:2px;
  display:none;
  color:#fff;
}
</style>
</head>
<body style="padding:10px;">
  <div class="tplay-body-div">
    <div class="layui-tab">
      <ul class="layui-tab-title">
        <li class="layui-this">用户管理</li>
        <li><a href="{:url('admin/user/publish')}" class="a_menu">修改用户</a></li>
      </ul>
    </div> 
      <form class="layui-form serch" action="{:url('admin/user/index')}" method="post">
        <div class="layui-form-item" style="float: left;">
          <div class="layui-input-inline">
            <input type="text" name="uid" lay-verify="title" autocomplete="off" placeholder="请输入UID" class="layui-input layui-btn-sm">
          </div>

          <div class="layui-input-inline">
            <input type="text" name="username" lay-verify="title" autocomplete="off" placeholder="请输入用户名" class="layui-input layui-btn-sm">
          </div>

          <div class="layui-input-inline">
            <input type="text" name="mobile" lay-verify="title" autocomplete="off" placeholder="请输入手机号码" class="layui-input layui-btn-sm">
          </div>



          <div class="layui-input-inline">
            <div class="layui-inline">
                <select name="user_type" lay-search="">
                  <option value="">用户类型</option>
                  <option value="1">普通类型</option>
                  <option value="2">VIP类型</option>
                </select>
            </div>
          </div>
          <div class="layui-input-inline">
            <div class="layui-inline">
                <select name="status" lay-search="">
                  <option value="">冻结状态</option>
                  <option value="1">正常</option>
                  <option value="2">冻结</option>
                </select>
            </div>
          </div>
          
          
          <!-- <div class="layui-input-inline">
            <div class="layui-inline">
              <div class="layui-input-inline">
                <input type="text" class="layui-input" id="create_time" placeholder="创建时间" name="create_time">
              </div>
            </div>
          </div> -->
          <button class="layui-btn layui-btn-primary" lay-submit="" lay-filter="serch">查询</button>
        </div>
      </form> 
    <table class="layui-table" lay-size="sm">
      <colgroup>
        <col width="30">
        <col width="50">
        <col width="50">
        <col width="50">
        <col width="50">
        <col width="50">
        <col width="50">
        <col width="60">
        <col width="100">
        <col width="60">
        <col width="140">
      </colgroup>
      <thead>
        <tr>
          <th>ID</th>
          <th>用户</th>
          <th>邮箱</th>
          <th>手机号</th>
          <th>金币</th>
          <th>银行</th>
          <th>兑奖数</th>
          <th>充值/兑出</th>
          <th>登录信息</th>
          <th>是否冻结</th>
          <th>操作</th>
        </tr> 
      </thead>
      <tbody>
        {volist name="users" id="vo"}
        <tr>
          <td><input type="checkbox" name="uid[]" value="{$vo.uid}"></td>
          <td>{$vo.username}({$vo.uid})</td>
          <td>{$vo.email}</td>
          <td>{$vo.mobile}</td>
          <td>{$vo.coin}</td>
          <td>{$vo.bank}</td>
          <td>{$vo.exchange_num}</td>
          <td></td>
          <td>{$vo.login_ip|getAddressByIp}</td>
          <td>{if condition="$vo.is_freeze eq 1"}正常{elseif condition="$vo.is_freeze eq 2"}冻结{/if}</td>
          <td class="operation-menu">
            <div class="layui-btn-group">
              <!-- <a href="{:url('admin/user/edit',['uid'=>$vo.uid])}" class="layui-btn layui-btn-xs a_menu layui-btn-primary" style="margin-right: 0;font-size:12px;"><i class="layui-icon"></i></a>
              <a href="javascript:;" class="layui-btn layui-btn-xs layui-btn-primary delete" id="{$vo.uid}" style="margin-right: 0;font-size:12px;"><i class="layui-icon"></i></a> -->
              <a href="{:url('admin/user/login',['uid'=>$vo.uid])}" class="a_menu"  style="margin: 0;font-size:12px;">进入</a><span style="margin:0 3px;"></span>
              <a href="{:url('admin/user/publish',['uid'=>$vo.uid])}" class="a_menu" style="margin: 0;font-size:12px;">修改</a><span style="margin:0 3px;"></span>
              {if condition="$vo.is_freeze eq 1"}
                 <a href="javascript:;" class="freeze" id="{$vo.uid}" data-val="2" style="margin: 0;font-size:12px;">冻结</a><span style="margin:0 3px;"></span>
              {elseif condition="$vo.is_freeze eq 2"}
                 <a href="javascript:;" class="freeze" id="{$vo.uid}" data-val="1" style="margin: 0;font-size:12px;">解冻</a><span style="margin:0 3px;"></span>
              {/if}
              <a href="javascript:;" class="delete" id="{$vo.uid}" style="margin: 0 ;font-size:12px;">删除</a><span style="margin:0 3px;"></span>
              <a href="{:url('admin/userprofit/index',['uid'=>$vo.uid])}" class="a_menu"  id="{$vo.uid}" style="margin: 0 ;font-size:12px;">盈亏</a>
            </div>
          </td>
        </tr>
        {/volist}
      </tbody>
    </table>
    <div style="padding:0 20px;">{$users->render()}</div> 
    {include file="public/foot"}
    <script type="text/javascript">

    $('.delete').click(function(){
      var uid = $(this).attr('id');
      layer.confirm('确定要删除?', function(index) {
        $.ajax({
          url:"{:url('admin/user/delete')}",
          data:{uid:uid},
          success:function(res) {
            layer.msg(res.msg);
            if(res.code == 1) {
              setTimeout(function(){
                location.href = res.url;
              },1500)
            }
          }
        })
      })
    })

    $('.freeze').click(function(){
      var uid = $(this).attr('id');
      var is_freeze=$(this).data('val');
      var msg=(is_freeze==1)?'解冻':'冻结';
      layer.confirm('确定要'+msg+'用户吗?', function(index) {
        $.ajax({
          url:"{:url('admin/user/freeze')}",
          data:{uid:uid,is_freeze:is_freeze},
          success:function(res) {
            layer.msg(res.msg);
            if(res.code == 1) {
              setTimeout(function(){
                location.href = res.url;
              },1500)
            }
          }
        })
      })
    })
    </script>
   <!--  <script type="text/javascript">

    $('.is_top').click(function(){
      var val = $(this).attr('data-val');
      var id = $(this).attr('data-id');
      var i = $(this).find('i');
      var the = $(this);
      if(val == 1){
        var is_top = 0;
      } else {
        var is_top = 1;
      }
      $.ajax({
        type:"post",
        url:"{:url('admin/user/is_freeze')}",
        data:{is_top:is_top,id:id},
        success:function(res){
          
          if(res.code == 1) {
            top();
          } else {
            layer.msg(res.msg);
          }
        }
      })

      function top(){
        if(val == 1){
          i.attr("class","fa fa-toggle-off");
          the.attr('data-val',0);
        } else {
          i.attr("class","fa fa-toggle-on");
          the.attr('data-val',1);
        }
      }
    })


    $('.status').click(function(){
      var val = $(this).attr('data-val');
      var id = $(this).attr('data-id');
      var i = $(this).find('i');
      var the = $(this);
      if(val == 1){
        var status = 0;
      } else {
        var status = 1;
      }
      $.ajax({
        type:"post",
        url:"{:url('admin/article/status')}",
        data:{status:status,id:id},
        success:function(res){
          
          if(res.code == 1) {
            tostatus();
          } else {
            layer.msg(res.msg);
          }
        }
      })

      function tostatus(){
        if(val == 1){
          i.attr("class","fa fa-toggle-off");
          the.attr('data-val',0);
        } else {
          i.attr("class","fa fa-toggle-on");
          the.attr('data-val',1);
        }
      }
    })
    </script> -->
  </div>
</body>
</html>
