<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" href="__PUBLIC__/layui/css/layui.css">
	<script src="__PUBLIC__/layui/layui.js"></script>
	<title>卡密收回</title>
</head>
<body>
	{include file="public/left" /}
    <div class="right">
	<form class="layui-form" action="">
	  <div class="layui-form-item">
	    <label class="layui-form-label">充值卡类型</label>
	    <div class="layui-input-inline">
	      <select></select>
	    </div>
	  </div>

	  <div class="layui-form-item">
	    <label class="layui-form-label">生成张数</label>
	    <div class="layui-input-block">
	      <input type="text" name="title" disabled  lay-verify="required" placeholder="请输入生成张数" autocomplete="off" class="layui-input">
	    </div>
	  </div>

	  

	  <div class="layui-form-item">
	    <div class="layui-input-block">
	      <button class="layui-btn" lay-submit lay-filter="formDemo">提交</button>
	      <button type="reset" class="layui-btn layui-btn-primary">重置</button>
	    </div>
	  </div>
	</form>
    </div>
</body>
</html>