<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" href="__PUBLIC__/layui/css/layui.css">
	<script src="__PUBLIC__/layui/layui.js"></script>
	<title>金币代充</title>
</head>
<body>
	{include file="public/left" /}
    <div class="right">
    	<h1>金币代充</h1>
    	<hr>
		<form class="layui-form" action="">
		  <div class="layui-form-item">
		    <label class="layui-form-label">用户UID</label>
		    <div class="layui-input-inline">
		      <input type="text" name="uid" id="uid" required  lay-verify="required" placeholder="请输入用户UID" autocomplete="off" class="layui-input">
		    </div>
		    <div class="layui-form-mid layui-word-aux"><a id="queryuser" href="javascript:;">查询用户</a></div>
		  </div>
          
          <div id="userinfo"  style="display: none;">
			  <div class="layui-form-item">
			    <label class="layui-form-label">用户昵称</label>
			    <div class="layui-input-block">
			      <label class="username"></label>
			    </div>
			  </div>

			  <div class="layui-form-item">
			    <label class="layui-form-label">余额</label>
			    <div class="layui-input-block">
			      <label class="balance"></label>
			    </div>
			  </div>

			  <div class="layui-form-item">
			    <label class="layui-form-label">银行</label>
			    <div class="layui-input-block">
			      <label class="bank"></label>
			    </div>
			  </div>

			  <div class="layui-form-item">
			    <label class="layui-form-label">等级</label>
			    <div class="layui-input-block">
			      <label class="grade"></label>
			    </div>
			  </div>
          </div>
		  <div class="layui-form-item">
		    <label class="layui-form-label">代充金额</label>
		    <div class="layui-input-block">
		      <input type="text" name="title" disabled  lay-verify="required" placeholder="请输入金额" autocomplete="off" class="layui-input">
		    </div>
		  </div>

		  <div class="layui-form-item">
		    <div class="layui-input-block">
		      <button class="layui-btn layui-btn-primary" lay-submit lay-filter="formDemo">确认充值</button>
		      <!-- <button type="reset" class="layui-btn layui-btn-primary">重置</button> -->
		    </div>
		  </div>
		</form>
    </div>
</body>
<script type="text/javascript">
	layui.use(['form','jquery'], function(){
	    var form=layui.form,$=layui.jquery;
        
        $('#queryuser').click(function(){
        	var uid=$.trim($('#uid').val());
        	$.ajax({
                url:"{:url('agent/operate/queryuser')}",
                data:{uid:uid},
                type:'post',
                async: false,
                dataType:'json',
                success:function(res) {
                    if(res.code == 1) {
                        $('#userinfo').css('display','block');
                    } else {
                    	$('#userinfo').css('display','none');
                        layer.msg(res.msg);
                    }
                }
            })
        })

        form.on('submit(reclaim)',function(){
        	var enabled=$(this).attr('data-enabled');
        	if(!enabled){
                layer.msg('不可回收');
        	    return false;
        	}
      	    $.ajax({
                url:"{:url('agent/operate/retracty')}",
                data:$('#agentform').serialize(),
                type:'post',
                async: false,
                dataType:'json',
                success:function(res) {
                    if(res.code == 1) {
                        
                    } else {
                        layer.msg(res.msg);
                    }
                }
            })
            return false;
        })

	});
</script>
</html>