<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" href="__PUBLIC__/layui/css/layui.css">
	<script src="__PUBLIC__/layui/layui.js"></script>
	<title>卡密回收</title>
</head>
<body>
	{include file="public/left" /}

	<div class="right">
		<h1>卡密回收</h1>
	    <hr>
	    <form id="agentform">
		<table class="layui-table">
		  <colgroup>
		    <col width="240">
		    <col width="240">
		    <col width="200">
		    <col width="100">
		    <col width="200">
		    <col width="200">
		    <col width="200">
		    <col width="150">
		  </colgroup>
		  <thead>
		    <tr>
		      <th>卡号</th>
		      <th>卡密</th>
		      <th>面额</th>
		      <!-- <th>数量</th> -->
		      <th>兑奖用户</th>
		      <th>QQ</th>
		      <th>支付宝</th>
		      <th>状态</th>
		    </tr> 
		  </thead>
		  <tbody>
		    <tr>
		      <td>{$cardpwd['card_no']}</td>
		      <td>{$cardpwd['card_pwd']}</td>
		      <td>{$userexchange['price']}</td>
		      <!-- <td>1</td> -->
		      <td>{$userexchange->user->username}</td>
		      <td>{$userexchange->user->qq}</td>
		      <td>{$userexchange->user->alipay}</td>
		      <td>{if condition="$cardpwd['status'] eq 2"}可回收{else /}不可回收{/if}</td>
		    </tr>
		    <tr><td colspan="7" align="center">总面额：{$userexchange['price']}</td></tr>

		  </tbody>
        </table>

        <button class="layui-btn layui-btn-primary" data-enabled="{$enabled}" lay-submit lay-filter="reclaim">确定回收</button>
        </form>
	</div>
</body>
<script type="text/javascript">
	layui.use(['form','jquery'], function(){
	    var form=layui.form,$=layui.jquery;

        form.on('submit(reclaim)',function(){
        	var enabled=$(this).attr('data-enabled');
        	if(!enabled){
                layer.msg('不可回收');
        	    return false;
        	}
      	    $.ajax({
                url:"{:url('agent/operate/retracty')}",
                data:$('#agentform').serialize(),
                type:'post',
                async: false,
                dataType:'json',
                success:function(res) {
                    if(res.code == 1) {
                        // layer.alert(res.msg, function(index){
                           location.href = res.url;
                        // })
                    } else {
                        layer.msg(res.msg);
                    }
                }
            })
            return false;
        })

	});
</script>
</html>