{include file="public/header" /}
<script  type="text/javascript" src="__JS__/jeeslide.js"></script>

<link href="__CSS__/shop.css" rel="stylesheet" type="text/css" />
<div class="area oo">
	<div class="newsleft fl">
		{foreach name="cates" item="vo" }
	    <div class="help">
		    <h2>{$vo['name']}</h2>
			<ul>
				{foreach name="vo.child" item="vo_" }
				<li><a href="/Shop/Index?id={$vo_['id']}">{$vo_['name']}</a></li>
				{/foreach}
		    </ul>
		</div>
	    {/foreach}
	</div>

	<div class="buybox fr">
	    <div class="top">
			<h1>奖品兑换</h1>
		</div>
	    <div class="con">
	        <div class="goods oo">
	            <div class="pic fl"><img src="{$prize['thumb']|geturl}" style="width:300px;" /></div>
	            <div class="ginfo fr">
			        <h1>{$prize['name']} </h1>
	                <div class="price">
				      您的兑换价格：<font class="money money_bg">{$prize['price']*$coefficient}</font>
				    </div>
	                <div class="li">兑换价格：</div>
				    <table>
					    <tr style="background-color: #F9F9F9;">
						  <td><span style='background:url(__IMAGE__/v0.png) right center no-repeat;padding-right:12px;'>&nbsp;</span></td>
						  <td><span style='background:url(__IMAGE__/v1.png) right center no-repeat;padding-right:12px;'>&nbsp;</span></td>
						  <td><span style='background:url(__IMAGE__/v2.png) right center no-repeat;padding-right:12px;'>&nbsp;</span></td>
						  <td><span style='background:url(__IMAGE__/v3.png) right center no-repeat;padding-right:12px;'>&nbsp;</span></td>
						  <td><span style='background:url(__IMAGE__/v4.png) right center no-repeat;padding-right:12px;'>&nbsp;</span></td>
						  <td><span style='background:url(__IMAGE__/v5.png) right center no-repeat;padding-right:12px;'>&nbsp;</span></td>
						  <td><span style='background:url(__IMAGE__/v6.png) right center no-repeat;padding-right:12px;'>&nbsp;</span></td>
					    </tr>
					    <tr>
							{foreach name="grade" item="vo_"}
							    <td><font class="money money_bg">{if condition="$vo_.grade eq 0"}{$prize['price']*$c1}{else /}{$prize['price']*$c2}{/if}</font></td>
							{/foreach}
						</tr>
				    </table>
				    <input type='hidden' name="prize_id" value="{$id}" />
				    <button  lay-submit lay-filter="order" class="gbtn">确认兑奖</button> <!--onclick="javascript:window.location.href='/shop/order?id={$id}'"-->
	            </div>        
	        </div>
	        <div class="blank"> </div>
		      <div>
		         <div class="top">
				     <h1>奖品详情</h1>
			     </div>
		        <div class="intr">{$prize['desc']|htmlspecialchars_decode|}</div>
		      </div>
	        <div style="margin-top:20px;" >
	            <div class="top"><h1>奖品评论</h1></div>
	            <div id="div_comment">
					<script type="application/javascript">
						var url=window.location.href;
						if(url.indexOf("page")>0){
							location.hash = 'div_comment';
						}
					</script>

					{foreach name="remarks" item="vo__"}
					    <div>{$vo__.user.username}<span style="margin:0 0 0 20px;">{$vo__['create_time']}</span></div>
					    <div>{$vo__.content}</div>
					{/foreach}
		            <div style="padding:0 20px;">{$remarks->render()}</div> 
		        </div>
	        </div>
	        <div style="margin-top:20px; overflow: auto; zoom:1;">
		        <div class="top">
				     <h1>发表评论</h1>
			     </div>
		        <div>
		          <form action="/user/remark" method="post">
		            <TEXTAREA id="tbCommentContent" name="tbCommentContent" style="width:908px;border: 1px solid #eee;height: 100px;"></TEXTAREA>
		            <!-- <input style=" margin:10px auto;display: block;" name="btnComment" value="发表评论" type="submit" class="nbtn"> -->
		            <button style=" margin:10px auto;display: block;" class="nbtn" lay-submit lay-filter="remark">发表评论</button>
		          </form>
		        </div>
	        </div>
	    </div>
    </div>
</div>

<script type="text/javascript">
layui.use(['layer', 'form'], function(){
  var layer = layui.layer
  ,form = layui.form;
  
  
  form.on('submit(remark)',function(){
  	 layer.msg('对不起，评论功能已关闭');
  	 return false;
  })

  form.on('submit(order)',function(){
  	var id=$("input[name='prize_id']").val();
  	 $.ajax({
        url: "/shop/qualify",
        type: "post",
        data: {id:id},
        dataType:'json',
        success: function (res) {
            if(res.code==0){
            	layer.alert(res.msg,function(index){
            		location.href='/user/bindemail';
            	});
            }else{
            	location.href='/shop/order?id='+id;
            }
        }
    })
  	 return false;
  })
});
</script> 


{include file="public/footer" /}