{include file="public/header" /}
<script  type="text/javascript" src="__JS__/jeeslide.js"></script>

<style type="text/css">
	.hotgoods {margin-top:20px;width:258px;}
	.hotgoods li{  text-align: center; margin: 15px 0;} 
	.hotgoods li img{height:230px; width: 230px;}
	.hotgoods li p{ line-height: 35px; color: #666;}
	.djdt {border-bottom: 1px solid #eee;}
	.newsleft .djdt ul {height: 275px; overflow: hidden;padding:0}
	.newsleft .djdt ul li{background:none;padding: 10px 5px;border-bottom:#ddd dotted 1px;overflow:auto;zoom:1;margin: 0;    width: 248px;}
	.newsleft .djdt ul li:hover{background: #FBFBFB;}
	.djdt ul li h3 , .mxyh ul li h3{font-size:14px;font-weight:100;color:#333;height:21px;line-height:21px; display:block; width:160px; word-break:keep-all; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; } 
	.djdt ul li div , .mxyh ul li div{width:166px;float:right}
	.djdt ul li span{font-size:13px;height:30px;line-height:30px;display:block;color:#888;overflow:hidden}
	.djdt ul li em{color:#FF9100;font:12px/20px 'microsoft yahei';}
	.djdt ul li .djnum{float: right;line-height: 16px;margin-right: 20px;font-size:13px;font-weight:100 }
	.djdt ul li img{width:65px;height:65px; float:left; margin: 0 0 0 5px;}
</style>
<div class="area oo">

<div class="newsleft fl">
	{foreach name="cates" item="vo" }
    <div class="help">
	    <h2>{$vo['name']}</h2>
		<ul>
			{foreach name="vo.child" item="vo_" }
			<li><a href="/Shop/Index?id={$vo_['id']}">{$vo_['name']}</a></li>
			{/foreach}
	    </ul>
	</div>
    {/foreach}
</div>

<div class="buybox fr">
	  <div class="top">
	  	<img src="__IMAGE__/dhlc.jpg" />
		<h1>{$catename}</h1>
	  </div>

       <div class="con prizec">
          <table id="ContentPlaceHolder1_DataList1" width="100%" cellspacing="15" cellpadding="0">
          	  {foreach name="prizes" item="vo" key="k"}
          	   {if condition="$k%3 eq 0"}<tr>{/if}              
	              <td width="25%"><div class="blank"></div>
	                <a href="/Shop/Detail?id={$vo['id']}"><img style="width:280px;height:180px" src="{$vo.thumb|geturl}" /></a><br> 
	                <div class="ot"><font class="money money_bg">{$vo.name}</font></div>
					<a href="/Shop/Detail?id={$vo['id']}" class="txt">{$vo.name}</a>
				  </td>
               {if condition="$k%3 eq 2"}</tr>{/if}
               
               {/foreach}                              
          </table>
	    </div>
	    <div style="padding:0 20px;">{$prizes->render()}</div> 
</div>
</div>



{include file="public/footer" /}