{include file="public/header" /}
<script  type="text/javascript" src="__JS__/jeeslide.js"></script>

<style type="text/css">
	.hotgoods {margin-top:20px;width:258px;}
	.hotgoods li{  text-align: center; margin: 15px 0;} 
	.hotgoods li img{height:230px; width: 230px;}
	.hotgoods li p{ line-height: 35px; color: #666;}
	.djdt {border-bottom: 1px solid #eee;}
	.newsleft .djdt ul {height: 275px; overflow: hidden;padding:0}
	.newsleft .djdt ul li{background:none;padding: 10px 5px;border-bottom:#ddd dotted 1px;overflow:auto;zoom:1;margin: 0;    width: 248px;}
	.newsleft .djdt ul li:hover{background: #FBFBFB;}
	.djdt ul li h3 , .mxyh ul li h3{font-size:14px;font-weight:100;color:#333;height:21px;line-height:21px; display:block; width:160px; word-break:keep-all; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; } 
	.djdt ul li div , .mxyh ul li div{width:166px;float:right}
	.djdt ul li span{font-size:13px;height:30px;line-height:30px;display:block;color:#888;overflow:hidden}
	.djdt ul li em{color:#FF9100;font:12px/20px 'microsoft yahei';}
	.djdt ul li .djnum{float: right;line-height: 16px;margin-right: 20px;font-size:13px;font-weight:100 }
	.djdt ul li img{width:65px;height:65px; float:left; margin: 0 0 0 5px;}
</style>
<div class="area oo">

<div class="newsleft fl">
	{foreach name="cates" item="vo" }
    <div class="help">
	    <h2>{$vo['name']}</h2>
		<ul>
			{foreach name="vo.child" item="vo_" }
			<li><a href="/Shop/Index/{$vo_['id']}">{$vo_['name']}</a></li>
			{/foreach}
	    </ul>
	</div>
    {/foreach}
</div>

<div class="buybox fr">
	  <div class="top">
	  	<img src="__IMAGE__/dhlc.jpg" />
		<h1>广告体验卡</h1>
	  </div>

       <div class="con prizec">
          <table id="ContentPlaceHolder1_DataList1" width="100%" cellspacing="15" cellpadding="0">
                                    <tr>               <td width="25%"><div class="blank"></div>
                <a href="/Prize/Detail?id=214"><img style="width:280px;height:180px" src="/uppic/shoppic/20170406152903.jpg" /></a><br> 
                <div class="ot"><font class="money money_bg">50,000,000</font></div>
				<a href="/Prize/Detail?id=214" class="txt">移动充值卡50000元</a>
			  </td>
                                                    <td width="25%"><div class="blank"></div>
                <a href="/Prize/Detail?id=213"><img style="width:280px;height:180px" src="/uppic/shoppic/20170406151358.jpg" /></a><br> 
                <div class="ot"><font class="money money_bg">30,000,000</font></div>
				<a href="/Prize/Detail?id=213" class="txt">移动充值卡30000元</a>
			  </td>
                                                    <td width="25%"><div class="blank"></div>
                <a href="/Prize/Detail?id=212"><img style="width:280px;height:180px" src="/uppic/shoppic/20170406150439.jpg" /></a><br> 
                <div class="ot"><font class="money money_bg">10,000,000</font></div>
				<a href="/Prize/Detail?id=212" class="txt">移动充值卡10000元</a>
			  </td>
               </tr>
                                                <tr>               <td width="25%"><div class="blank"></div>
                <a href="/Prize/Detail?id=211"><img style="width:280px;height:180px" src="/uppic/shoppic/20170406145357.jpg" /></a><br> 
                <div class="ot"><font class="money money_bg">300,000</font></div>
				<a href="/Prize/Detail?id=211" class="txt">移动充值卡300元</a>
			  </td>
                                                    <td width="25%"><div class="blank"></div>
                <a href="/Prize/Detail?id=183"><img style="width:280px;height:180px" src="/uppic/shoppic/20170406144745.jpg" /></a><br> 
                <div class="ot"><font class="money money_bg">5,000,000</font></div>
				<a href="/Prize/Detail?id=183" class="txt">移动充值卡5000元</a>
			  </td>
                                                    <td width="25%"><div class="blank"></div>
                <a href="/Prize/Detail?id=182"><img style="width:280px;height:180px" src="/uppic/shoppic/20170406113015.jpg" /></a><br> 
                <div class="ot"><font class="money money_bg">1,000,000</font></div>
				<a href="/Prize/Detail?id=182" class="txt">移动充值卡1000元</a>
			  </td>
               </tr>
                                                <tr>               <td width="25%"><div class="blank"></div>
                <a href="/Prize/Detail?id=181"><img style="width:280px;height:180px" src="/uppic/shoppic/20170406144431.jpg" /></a><br> 
                <div class="ot"><font class="money money_bg">500,000</font></div>
				<a href="/Prize/Detail?id=181" class="txt">移动充值卡500元</a>
			  </td>
                                                    <td width="25%"><div class="blank"></div>
                <a href="/Prize/Detail?id=180"><img style="width:280px;height:180px" src="/uppic/shoppic/20170406144359.jpg" /></a><br> 
                <div class="ot"><font class="money money_bg">100,000</font></div>
				<a href="/Prize/Detail?id=180" class="txt">移动充值卡100元</a>
			  </td>
                                      </tr> 
          </table>
	    </div>
</div>
</div>



{include file="public/footer" /}