{include file="public/header" /}
<script  type="text/javascript" src="__JS__/jeeslide.js"></script>
<link href="__CSS__/shop.css" rel="stylesheet" type="text/css" />
<style type="text/css">
	
</style>
<div class="area oo">

<div class="newsleft fl">
	{foreach name="cates" item="vo" }
    <div class="help">
	    <h2>{$vo['name']}</h2>
		<ul>
			{foreach name="vo.child" item="vo_" }
			<li><a href="/Shop/Index?id={$vo_['id']}">{$vo_['name']}</a></li>
			{/foreach}
	    </ul>
	</div>
    {/foreach}
</div>

<div class="buybox fr">
	  <div class="top">
	  	<img src="__IMAGE__/dhlc.jpg" />
		<h1>{$catename}</h1>
	  </div>

       <div class="con prizec">
          <table id="ContentPlaceHolder1_DataList1" width="100%" cellspacing="15" cellpadding="0">
          	  {foreach name="prizes" item="vo" key="k"}
          	   {if condition="$k%3 eq 0"}<tr>{/if}              
	              <td width="25%"><div class="blank"></div>
	                <a href="/Shop/Detail?id={$vo['id']}"><img style="width:280px;height:180px" src="{$vo.thumb|geturl}" /></a><br> 
	                <div class="ot"><font class="money money_bg">{$vo.name}</font></div>
					<a href="/Shop/Detail?id={$vo['id']}" class="txt">{$vo.name}</a>
				  </td>
               {if condition="$k%3 eq 2"}</tr>{/if}
               
               {/foreach}                              
          </table>
	    </div>
	    <div style="padding:0 20px;">{$prizes->render()}</div> 
</div>
</div>



{include file="public/footer" /}